Django==1.9
Scrapy==1.0.3
amqp==1.4.8
anyjson==0.3.3
billiard==3.3.0.22
celery==3.1.19
characteristic==14.3.0
cssselect==0.9.1
django-bootstrap3==6.2.2
django-celery==3.1.17
django-extensions==1.6.1
django-http-proxy==0.4
enum34==1.1.2
idna==2.0
ipaddress==1.0.15
kombu==3.0.32
lxml==3.3.5
pyOpenSSL==0.13
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pytz==2015.7
pywinauto==0.5.1
queuelib==1.4.2
service-identity==14.0.0
six==1.10.0
w3lib==1.13.0
zope.interface==4.1.2
