{% load staticfiles i18n menu account_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% generate_menu %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="{% block meta_keywords %}Roma, quartieri, stranieri, immigrati, anziani, salute, scuola, cultura, servizi{% endblock %}">
		<meta name="description" content="{% block meta_description %}FairVillage - Cultura, benessere, solidarietà: servizi per i migranti a Roma e nel Lazio.{% endblock %}">        
		<meta name="copyright" content="LINK srl, Via Udine 30 - Roma" />
		<meta name="owner" content="LINK srl, Via Udine 30 - Roma" />
		<meta name="author" content="LINK srl - Giovanni Toffoli, Mariarosaria Manco" />
		{% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}
		{% block extra_meta %}{% endblock %}
		<title>{% block head_title_base %}{% block head_title %}{% endblock %}{% if site_name %} :: {{ site_name }}{% endif %}{% endblock %}</title>
		<link rel="shortcut icon" href="{% static "fairvillage/img/favicon.png" %}" type="image/x-icon">
		{% block style_base %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
			<link href="{% static "roma/css/bootstrap.css" %}" type="text/css" rel="stylesheet">
			<link href="{% static "roma/css/bootstrap-responsive.css" %}" type="text/css" rel="stylesheet">
			<link href="{% static "roma/css/jquery-ui-1.10.1.custom.min.css" %}" type="text/css" rel="stylesheet">
			<link href="{% static "roma/css/romapaese.css" %}" type="text/css" rel="stylesheet">
			<link href="{% static "roma/css/romapaese-responsive.css" %}" type="text/css" rel="stylesheet">
			{% block extra_style %}{% endblock %}
		{% endblock %}
		{% block extra_head_base %}
			{% block extra_head %}{% endblock %}
		{% endblock %}
        <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
	</head>
	<body id="{% block body_id %}{% endblock %}">
		<div class="visual-wrapper">
			{% block topbar_base %}
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							{% block topbar %}
								<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</a>
								{% block site_brand %}<a href="/" class="brand" title="{% trans 'go home' %}"><img src="{% static "fairvillage/img/fairvillage-logo.png" %}" alt="{{ site_name }}"></a>{% endblock %}
								<div class="nav-collapse">
									{% block nav %}                                    
										{% with menu=menus.main %}<ul class="nav">{% include "wip/bootstrap-navbar.html" %}</ul>{% endwith %}
		<ul class="nav navbar-nav navbar-right" style="margin-right:30px"><li style="padding-left:15px">
			<div class="navbar-search" style="padding-top:8px; padding-bottom:10px;">
				<label for="search-input" style="position:absolute; left:12px; top:14px; font-size:12px;"><i class="fa fa-search"></i></label>
				<input class="form-control bc-demigray" style="padding-left:30px; padding-right:10px; font-size:12px; height:30px;" size="32" type="text" name="q" id="navigation_autocomplete">
			</div>
		</li></ul>
										{% if request.user.is_authenticated %}
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													{{ request.user.first_name }} {{ request.user.last_name }}
													<b class="caret"></b>
												</a>
												<ul class="dropdown-menu">
													<li><a href="/accounts/profile/"><i class="icon-user"></i> {% trans "My profile" %}</a></li>
													{% if request.user.is_staff %}
														<li><a href="{% url "admin:index" %}"><i class="icon-cog"></i> {% trans "Admin" %}</a></li>
													{% endif %}
													<li class="divider"></li>
													<li style="margin-left: 20px;">
														<form action="{% url "account_logout" %}" method="post">
															{% csrf_token %}
															<a id="account_logout" href="{% url "account_logout" %}"><i class="icon-off"></i> {% trans "Log out" %}</a>
														</form>
													</li>
												</ul>
											</li>
										{% else %}
											{% comment %}<li class="divider-vertical"></li>{% endcomment %}
											<li class="menu-ele"><a href="{% url "account_signup" %}">{% trans "Sign Up" %}</a></li>
											{% comment %}<li class="divider-vertical"></li>{% endcomment %}
											<li class="menu-ele"><a href="{% url "account_login" %}">{% trans "Log In" %}</a></li>
											{% comment %}<li class="divider-vertical"></li>{% endcomment %}
										{% endif %}
									{% endblock %}
								</div>
							{% endblock %}
						</div>
					</div>
				</div>
			{% endblock %}
			{% block body_base %} 
				<div class="container">
					{% if messages %}
					<ul class="messages">
					    {% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>{% endfor %}
					</ul>
					{% endif %}
					<div id="content">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			{% endblock %}
		</div>

		{% block footer_base %}
			<div class="footerbar">
				<div class="footerbar-inner">
					<div class="container">
						{% block site-actions %}{% endblock %}
						{% block footer %}
							<div style="float: left;">&copy; {% now "Y" %} LINK SRL - P. IVA 02098911007 :: Via Udine 30 - 00161 Roma :: <a href="mailto:fairvillage@linkroma.it">fairvillage@linkroma.it</a> - www.fairvillage.eu</div> <div style="float: right;"></div>
						{% endblock %}
						{% block colophon %}{% endblock %}
					</div>
				</div>
			</div>
		{% endblock %}

        {% block script_base %}
            <script src="{% static "js/bootstrap.min.js" %}"></script>
            <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.js' %}"></script>
            <script type="text/javascript">
               $(document).ready(function() {
                $('#navigation_autocomplete').yourlabsAutocomplete({
                  url: '{% url 'navigation_autocomplete' %}',
                  choiceSelector: 'a',
                  minimumCharacters: 3,
                  placeholder: '{% trans "Search ... (enter at least 3 characters)" %}',
                }).input.bind('selectChoice', function(e, choice, autocomplete) {
                  document.location.href = choice.attr('href');
                });
               });
            </script>
            {% block extra_script %}{% endblock %}
        {% endblock %}


	</body>
</html>
