{% load staticfiles i18n menu account_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% generate_menu %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
		<meta name="description" content="{% block meta_description %}WIP{% endblock %}">        
		<meta name="copyright" content="LINK srl, Via Udine 30 - Roma">
		<meta name="owner" content="LINK srl, Via Udine 30 - Roma">
		<meta name="author" content="LINK srl - Giovanni Toffoli, Mariarosaria Manco">
		{% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}
		{% block extra_meta %}{% endblock %}
		<title>{% block head_title_base %}{% block head_title %}{% endblock %}{% if site_name %} | {{ site_name }}{% endif %}{% endblock %}</title>
		<link rel="shortcut icon" href="{% static "fairvillage/img/favicon.png" %}" type="image/x-icon">
		{% block style_base %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
			<link href="{% static "wip/css/bootstrap.css" %}" type="text/css" rel="stylesheet">
			<link href="{% static "wip/css/bootstrap-theme.css" %}" type="text/css" rel="stylesheet">
			<link href="{% static "roma/css/jquery-ui-1.10.1.custom.min.css" %}" type="text/css" rel="stylesheet">
			<link href="{% static "wip/css/wip.css" %}" type="text/css" rel="stylesheet">
			{% block extra_style %}{% endblock %}
		{% endblock %}
		{% block extra_head_base %}
			{% block extra_head %}{% endblock %}
		{% endblock %}
        <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
	</head>
  <body id="{% block body_id %}{% endblock %}">
    <div id="wrap">
    <div id="main">
    {% block topbar_base %}
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {% block site_brand %}<a class="navbar-brand" href="/" title="{% trans 'go home' %}"><img src="{% static "wip/img/wip-logo.png" %}" alt="{{ site_name }} class="img-responsive"></a>{% endblock %}
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          	{% if request.user.is_authenticated %}
            {% with menu=menus.main %}
            <ul class="nav navbar-nav">
            {% for item in menu %}
              <li class="{% comment %}{% if item.selected %}active{% endif %}{% endcomment %}{% if item.children %} dropdown{% endif %}" id="top-menu-{{ item.slug }}">
              {% if item.children %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {% if item.icon %}<i class="icon-{{ item.icon }} icon-white"></i>&nbsp;{% endif %}{{ item.title }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                {% for child in item.children %}
                  <li{% if child.selected %} class="active"{% endif %}><a href="{{ child.url }}">{{ child.title }}</a></li>
                {% endfor %}
                </ul>
              {% else %}
                <a href="{{ item.url }}">{% if item.icon %}<i class="icon-{{ item.icon }} icon-white"></i>&nbsp;{% endif %}{{ item.title }}</a>
              {% endif %}
              </li>
            {% endfor %}
            </ul>
            {% endwith %}

            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="q" id="navigation_autocomplete">
              </div>
            </form>
            {% endif %}
            
            <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if request.user.last_name %} {{ request.user.first_name }} {{ request.user.last_name }} {% else %} {{ request.user.username }} {% endif %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/accounts/profile/"><i class="icon-user"></i> {% trans "My profile" %}</a></li>
                  {% if request.user.is_staff %}
                    <li><a href="{% url "admin:index" %}"><i class="icon-cog"></i> {% trans "Admin" %}</a></li>
                  {% endif %}
                  <li role="separator" class="divider"></li>
                  <li><a id="account_logout" href="{% url "account_logout" %}"><i class="icon-off"></i> {% trans "Log out" %}</a></li>
                </ul>
              </li>
            {% else %}
              <li><a href="{% url "account_signup" %}">{% trans "Sign Up" %}</a></li>
              <li><a href="{% url "account_login" %}">{% trans "Log In" %}</a></li>
            {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    {% endblock %}

    {% block body_base %}
      <div class="container">
      	{% comment %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>{% endfor %}
          </ul>
        {% endif %}
        {% endcomment %}
        <div id="content" style="margin-bottom:30px">
          {% block content %}
            <h1>{% block title-page %}{% endblock %}</h1>
            {% block content-page %}
            {% endblock %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
    </div>
    </div>
    {% block footer_base %}
      <div style="position: relative; margin-top: -70px; height: 70px; clear:both; padding-top:5px; background-color: #4C184C; /*#A33EA8;*/">
        <div class="container">
          <div class="row" style="padding-top:10px">
            <div class="col-lg-10">
              <p style="color: #ccc;">&copy; {% now "Y" %} LINK SRL - P. IVA 02098911007, Via Udine 30 - 00161 Roma &bull; <a style="color: #ccc;" href="mailto:wip@linkroma.it"><i class="fa fa-envelope"></i> wip@linkroma.it</a></p>
            </div>
            <div class="col-lg-2">
              <div style="background:white; border-radius:3px; padding:3px"><a href="http://fiadopt-project.eu/" target="_blank" title="FI-Adopt"><img src="{% static "wip/img/fiadopt.png" %}" alt="FI-Adopt" class="img-responsive"></a></div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

        {% block script_base %}
            <script src="{% static "wip/js/bootstrap.min.js" %}"></script>
            <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.js' %}"></script>
            <script type="text/javascript">
               $(document).ready(function() {
                if ( $('#navigation_autocomplete').length > 0 ) {
                $('#navigation_autocomplete').yourlabsAutocomplete({
                  url: '{% url 'navigation_autocomplete' %}',
                  choiceSelector: 'a',
                  minimumCharacters: 3,
                  placeholder: '{% trans "Search ... (enter at least 3 characters)" %}',
                }).input.bind('selectChoice', function(e, choice, autocomplete) {
                  document.location.href = choice.attr('href');
                });
                }
               });
            </script>
            {% block extra_script %}{% endblock %}
        {% endblock %}
  </body>
</html>
