{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<style>
label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em; }
pre { display: inline; padding: 0; }
pre code { line-height: 0.5; }
.rounded-box { border-radius: 10px;  border: 2px solid;  padding: 10px; margin: 5px 0; }
.it { border-color: green; }
.en { border-color: red; }
</style>
{% endblock %}

{% block head_title %}Page block: {{ site.name }}{{ page_block.xpath }}{% endblock %}

{% block title-page %}<span style="color: black; font-size: smaller;">Page block:</span> <span style="font-size: smaller;">{{ page_block.xpath }}</span>{% endblock %}

{% block content-page %}
    <div><label>Site</label> <a href="/site/{{ site.slug }}/">{{ site.name }}</a></div>
    <div><label>Checksum</label> {{ page_block.checksum }}</div>
    <div><label>Time</label> {{ page_block.time|date:"SHORT_DATETIME_FORMAT" }}</div>
   	<form action="/block/{{ page_block.id }}/" method="post">
    <div>
    {% if user.is_superuser %}
    	<a class="btn btn-sm" href="/block/{{ page_block.id }}/translate/">Edit translations</a> &nbsp;
	{% endif %}
		{% csrf_token %}
		{% if previous %}<input type="submit" name="prev" class="btn btn-sm" value="Previous">{% endif %}
		{% if next %}<input type="submit" name="next" class="btn btn-sm" value="Next">{% endif %}
	</div>    	
	</form>

    <h4>HTML fragment</h4>
	{% comment %}<pre>{{ page_block.body }}</pre>{% endcomment %}
	<div class="rounded-box {{ page_block.get_language.code }}">{{ page_block.body|safe }}</div>

	{% with language_translations=page_block.get_last_translations %}
 	{% if language_translations %}
 	{% for language_code, translations in language_translations %}
 		{% if translations %}<h4>Last translations</h4>
		<div class="rounded-box {{ language_code }}">{{ translations.0.body|safe }}</div>
 		{% endif %}
	{% endfor %}
	{% endif %}
	{% endwith %}
 
 	{% if pages %}
	    <h4>Pages including this block</h4>
    	<table>
   		<thead>
   			<th> # </th><th> Id </th><th>Path</th><th>Blocks</th><th>Last checked</th>
   		</thead>
   		<tbody>
		{% for page in pages %}
		<tr><td><pre><code>{{forloop.counter|rjust:"3"}}</code> </pre></td>
			<td style="text-align: right;"> {{ page.id }} </td>
			<td><a href="/page/{{ page.id }}/"> {{ page.path }} </a></td>
			<td style="text-align: center;"> <a href="/page/{{ page.id }}/">{{ page.blocks.count }}</a> </td>
			<td> {{ page.last_checked|date:"SHORT_DATETIME_FORMAT" }} </td></tr>
		{% endfor %}
	    </tbody>
    	</table>
	{% else %}
		<p><i>No pages include this HTML fragment.</i></p>
	{% endif %}
    
{% endblock %}
