{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}Page block: {{ site.name }}{{ page_block.get_label }}{% endblock %}

{% block extra_head %}
<style>
/*label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em; }
pre { display: inline; padding: 0; }
pre code { line-height: 0.5; }*/
.rounded-box { border-radius: 10px;  border: 2px solid;  padding: 10px; margin: 5px 0; }
.it { border-color: green; }
.en { border-color: red; }
/*th, td { text-align: left; vertical-align: top; }*/
</style>
{% endblock %}

{% block body_id %}block{% endblock %}

{% block title-page %}{% trans "page block"|capfirst %}{% endblock %}

{% block content-page %}
<blockquote>{{ page_block.get_label }}</blockquote>

 <table class="table table-responsive table-bordered table-striped mB5">
    <thead>
      <tr>
    	<th>{% trans "site"|capfirst %}</th>
    	<th>{% trans "block or site language"|capfirst %}</th>
    	<th>{% trans "block id"|capfirst %}</th>
    	<th>Checksum</th>
    	<th>{% trans "Date"|capfirst %}/{% trans "time"|capfirst %}</th>
    	<th>Translate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      	<td><span class="mR10">{{ site.name }}</span><a href="/site/{{ site.slug }}/"><i class="fa fa-th-large" aria-hidden="true"></i></a></td>
      	<td>{{ language }}</td>
      	<td>{{ page_block.id }}</td>
      	<td>{{ page_block.checksum }}</td>
      	<td>{{ page_block.time|date:"SHORT_DATETIME_FORMAT" }}</td>
      	<td><ul class="list-inline">{% for language in target_languages %}<li><a class="btn btn-default btn-sm" href="/block/{{ page_block.id }}/translate/{{ language.code }}/">to {{ language }}</a>{% endfor %}</div>

      </tr>
    </tbody>
  </table>

{% if user.is_superuser %}
   	<form class="mTB40" action="/block/{{ page_block.id }}/" method="post">{% csrf_token %}
    <div class="form-group">
		<span class="mR10"><label>Block language</label> {{ edit_form.language }}</span><span class="mR10"><label>Invariant</label> {{ edit_form.no_translate }}</span>
		<input type="submit" name="save_block" value="Save properties" class="btn btn-default btn-sm">
	</div>

 
    <h4>{% trans "navigation"|capfirst %}</h4>
    <div class="form group">
    <table class="table table-responsive">
    	<thead>
    	<tr>{% for field in sequencer_form.visible_fields %}<th style="padding-bottom:0; border-bottom-width:0">{{ field.label_tag }}</th>{% endfor %}</tr>
   	</thead>
   	<tbody><tr>
		<td style="border-top-width:0">{{ sequencer_form.webpage }}</td>
		<td style="border-top-width:0">{{ sequencer_form.block_age }}</td>
		<td style="border-top-width:0">{{ sequencer_form.translation_state }}</td>
		<td style="border-top-width:0">{{ sequencer_form.translation_languages }}</td>
		<td style="border-top-width:0">{{ sequencer_form.translation_age }}</td>
		<td>{{ sequencer_form.list_pages }}</td>
	</tr></tbody></table> 
			<span class="mR30"><input type="submit" name="apply_filter" class="btn btn-default btn-sm" value="Apply filter"></span>
		{% if previous %}<span class="mR10"><input type="submit" name="goto-{{ previous.id }}" class="btn btn-default btn-sm" value="Previous"></span>{% endif %}
		{% if next %}<input type="submit" name="goto-{{ next.id }}" class="btn btn-default btn-sm" value="Next">{% endif %}
    </div>  
	</form>
	</form>
{% endif %}

    <h4>HTML fragment</h4>
	{% comment %}<pre>{{ page_block.body }}</pre>{% endcomment %}
	<div class="rounded-box {{ page_block.get_language.code }}">{{ page_block.body|safe }}</div>

	{% with language_translations=page_block.get_last_translations %}
 	{% if language_translations %}
 	{% for language_code, translations in language_translations %}
 		{% if translations %}<h4>Last translations</h4>
		<div class="rounded-box {{ language_code }}">{{ translations.0.body|safe }}</div>
 		{% endif %}
	{% endfor %}
	{% endif %}
	{% endwith %}
	
 
 	{% if pages %}
 		{% if list_pages %}
	    <h4 style="margin-top:30px">{% trans "pages including this block"|capfirst %}</h4>
     <table class="table table-responsive table-bordered table-striped">
   		<thead>
   			<tr>
   				<th class="text-right">#</th>
   				<th class="text-right">Id</th>
          <th>{% trans "path"|capfirst %}</th>
          <th class="text-right">{% trans "blocks"|capfirst %}</th>
          <th>{% trans "last checked"|capfirst %}</th>
   		</thead>
   		<tbody>
		  {% for page in pages %}
		  <tr><td class="text-right">{{forloop.counter|rjust:"3"}}</td>
			<td class="text-right">{{ page.id }}</td>
			<td><a href="/page/{{ page.id }}/">{{ page.path }}</a></td>
			<td class="text-right"><a href="/page/{{ page.id }}/">{{ page.blocks.count }}</a></td>
			<td>{{ page.last_checked|date:"SHORT_DATETIME_FORMAT" }}</td></tr>
		{% endfor %}
	    </tbody>
    	</table>

	{% else %}
		<p>{% trans "no pages include this HTML fragment"|capfirst %}</p>
	{% endif %}
   {% endif %}
{% endblock %}
