{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}Page block: {{ site.name }}{{ page_block.get_label }}{% endblock %}

{% block extra_head %}
<style>
h4 { margin: 0; padding: 0; }
form { margin: 0; padding: 0; }
table { margin: 0; padding: 0; }
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: small;
    font-style: italic;
}
label { font-size: small; }
.rounded-box { border-radius: 10px;  border: 2px solid;  padding: 10px; margin: 5px 0; }
.it { border-color: green; }
.en { border-color: red; }
</style>
{% endblock %}

{% block body_id %}block{% endblock %}

{% block title-page %}{% trans "page block"|capfirst %} &nbsp; <small><i>{{ page_block.get_label }}</i></small>{% endblock %}

{% block content-page %}
 <table class="table table-responsive table-bordered table-striped mB5">
    <thead>
      <tr>
    	<th>{% trans "project"|capfirst %}</th>
    	<th>{% trans "language"|capfirst %}</th>
    	<th>{% trans "block id"|capfirst %}</th>
    	{% comment %}<th>Checksum</th>{% endcomment %}
    	<th>{% trans "Date"|capfirst %}/{% trans "time"|capfirst %}</th>
    	<th>{% trans "invariant"|capfirst %}</th>
    	<th>{% trans "in pages"|capfirst %}</th>
    	{% if not page_block.no_translate %}<th>Translate</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      <tr>
      	<td><span class="mR10">{{ site.name }}</span><a href="/site/{{ site.slug }}/"><i class="fa fa-th-large" aria-hidden="true"></i></a></td>
      	<td>{{ language }}</td>
      	<td style="text-align: center;">{{ page_block.id }}</td>
      	{% comment %}<td>{{ page_block.checksum }}</td>{% endcomment %}
      	<td>{{ page_block.time|date:"d/m/Y G:i T" }}</td>
      	<td>{% if page_block.no_translate %}{% trans "yes"|capfirst %}{% endif %}</td>
      	<td style="text-align: center;">{% with n=page_block.bips.count %}
      	{% if n == 1 %}<a href="/page/{{ page_block.get_page.id }}/">{{ n }}</a>{% elif n %}{{ n }}{% endif %}
      	{% endwith %}</td>
      	{% if not page_block.no_translate %}<td><ul class="list-inline">{% for language in target_languages %}<li><a class="btn btn-default btn-sm" href="/block/{{ page_block.id }}/translate/{{ language.code }}/">to {{ language }}</a></li>{% endfor %}</ul></td>{% endif %}
      </tr>
    </tbody>
  </table>

{% if user.is_superuser %}
   	<form class="mTB40" action="/block/{{ page_block.id }}/" method="post" style="margin: 0; padding: 0;">{% csrf_token %}
{% endif %}
 
	<fieldset>
		<legend>Navigation - {{ n }} blocks found:
		{% if previous %}<span class="mR10"><input type="submit" name="goto-{{ previous.id }}" class="btn btn-default btn-sm" value="Previous"></span>{% endif %}
		{% if next %}<input type="submit" name="goto-{{ next.id }}" class="btn btn-default btn-sm" value="Next">{% endif %}
		</legend>

    <table>
    	<thead>
    	<tr>{% for field in sequencer_form.visible_fields %}<th style="padding-bottom:0; border-bottom-width:0">{{ field.label_tag }} &nbsp;</th>{% endfor %}</tr>
   	</thead>
   	<tbody><tr>
		<td style="vertical-align:top;">{{ sequencer_form.project_site }}</td>
		<td style="vertical-align:top;">{{ sequencer_form.webpage }}</td>
		{% comment %}<td style="border-top-width:0">{{ sequencer_form.block_age }}</td>{% endcomment %}
		<td style="vertical-align:top;">{{ sequencer_form.translation_state }}</td>
		<td style="vertical-align:top;">{{ sequencer_form.translation_languages }}</td>
		{% comment %}<td style="border-top-width:0">{{ sequencer_form.translation_age }}</td>{% endcomment %}
		<td style="vertical-align:top;">{{ sequencer_form.source_text_filter }}</td>
		{% comment %}<td>{{ sequencer_form.list_pages }}</td>{% endcomment %}
	</tr></tbody></table>
	</fieldset>

	<fieldset>
		<legend>Content and translations</legend>
	<div class="rounded-box {{ page_block.get_language.code }}">{{ page_block.body|safe }}</div>

	{% with language_translations=page_block.get_last_translations %}
 	{% if language_translations %}
 	{% for language_code, translations in language_translations %}
 		{% if translations %}
		<div class="rounded-box {{ language_code }}">{{ translations.0.body|safe }}</div>
 		{% endif %}
	{% endfor %}
	{% endif %}
	{% endwith %}
	</fieldset>

{% if user.is_superuser %}
	<fieldset>
		<legend>Properties</legend>
		<span class="mR10"><label>Block language</label> {{ edit_form.language }}</span>
		<span class="mR10"><label>Invariant</label> {{ edit_form.no_translate }}</span>
		<input type="submit" name="save_block" value="Save properties" class="btn btn-default btn-sm">
	</fieldset>

	</form>
{% endif %}
	
 	{% if pages and list_pages %}
	    <h4 style="margin-top:30px">{% trans "pages including this block"|capfirst %}</h4>
     <table class="table table-responsive table-bordered table-striped">
   		<thead>
   			<tr>
   				<th class="text-right">#</th>
   				<th class="text-right">Id</th>
          <th>{% trans "path"|capfirst %}</th>
          <th class="text-right">{% trans "blocks"|capfirst %}</th>
          <th>{% trans "last checked"|capfirst %}</th>
   		</thead>
   		<tbody>
		  {% for page in pages %}
		  <tr><td class="text-right">{{forloop.counter|rjust:"3"}}</td>
			<td class="text-right">{{ page.id }}</td>
			<td><a href="/page/{{ page.id }}/">{{ page.path }}</a></td>
			<td class="text-right"><a href="/page/{{ page.id }}/">{{ page.blocks.count }}</a></td>
			<td>{{ page.last_checked|date:"d/m/Y G:i T" }}</td></tr>
		  {% endfor %}
	    </tbody>
    	</table>
	{% endif %}

	{% if lineardoc %}
	<fieldset>
		<legend>Lineardoc to plaintext and to HTML</legend>
	<div>{{ lineardoc.getPlainText }}</div>
	<hr>
	{% for s in lineardoc.getSegments %}<p>{{ s|safe }}</p>{% endfor %}
	</fieldset>

	<fieldset>
		<legend>Sentences</legend>
	<ol>
	{% for s in linearsentences %}{% with text=s.getPlainText %}
		{% if text %}
		<li {% if s.isTranslated %}style="color: DarkGray;"{% endif %}>{{ s.getPlainText }}</li>
		{% endif %}
	{% endwith %}{% endfor %}
	</ol>
	</fieldset>

	<fieldset>
		<legend>{% if state == 1 %}Partially translated{% endif %}{% if state == 2 %}Translated{% endif %}</legend>
	<div>{{ translated_body|safe }}</div>
	</fieldset>

{% comment %}{% endcomment %}
	<fieldset>
		<legend>Segments and tokens</legend>
	<table width="100%"><thead><th>Using Lineardoc and SAX</th></thead>
	<tbody><tr>
		<td style="vertical-align:top">
				{% for s, tokens in segments_tokens %}<p>{{ s|length }} {{ s }}</p>
				<ul>{% for t in tokens %}<li>{{ t }}</li>{% endfor %}</ul>
		    {% endfor %}</td>
		<td style="vertical-align:top">
				{% for s, tokens in lineardoc_segments_tokens %}<p>{{ s|length }} {{ s }}</p>
				<ul>{% for t in tokens %}<li>{{ t }}</li>{% endfor %}</ul>
		    {% endfor %}</td>
	</tr></tbody>
	</table>
	</fieldset>
	{% endif %}

{% endblock %}
