{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block head_title %}WIP - Blocks of site {{ site.name }}{% endblock %}

{% block title-page %}WIP - Blocks of site <a href="/site/{{ site.slug }}/">{{ site.name }}</a>{% endblock %}

{% block extra_head %}
<style>
    pre { display: inline; padding: 0; }
    pre code { line-height: 0.5; }
</style>
{% endblock %}

{% block content-page %}
	{% if block_count %}
	<div>{{ block_count }} page blocks found in this site.</div>
	<div class="pagination">
    <span class="step-links">
    	{% for p in before %}<a href="?page={{ p }}">{% if forloop.first %}<i class="fa fa-fast-backward"></i> {% else %}{{ p }}{% endif %}</a>&nbsp;{% endfor %}
        &nbsp;<i class="fa fa-circle" style="font-size: 0.5em;"></i> page {{ site_blocks.number }} of {{ site_blocks.paginator.num_pages }} <i class="fa fa-circle" style="font-size: 0.5em;"></i>&nbsp;
    	{% for p in after %}&nbsp;<a href="?page={{ p }}">{% if forloop.last %} <i class="fa fa-fast-forward"></i> {% else %} {{ p }} {% endif %}</a></a>{% endfor %}
    </span>
	</div>

   	<table>
   		<thead>
   			<th> # </th><th> Id </th><th>Chars</th><th> Text is / starts with .. </th><th> xPath </th><th> Pages </th><th> Date/Time </th>
			{% for proxy in proxies %}<th> {{ proxy.language.code }} </th>{% endfor %} 			
   		</thead>
   		<tbody>
		{% for site_block in site_blocks %}
		<tr><td><pre><code>{{forloop.counter|rjust:"3"}}</code></pre></td>
			<td style="text-align: right;"> {{ site_block.id }} </td>
			<td style="text-align: right;">{{ site_block.body|length }}</td>
			<td> <a href="/block/{{ site_block.id }}/">{{ site_block.get_label|truncatechars_html:80 }}</a> </td>
			<td><a href="/block/{{ site_block.id }}/">{{ site_block.xpath }}</a></td>
			<td style="text-align: center;"><a href="/block/{{ site_block.id }}/pages/">{{ site_block.webpages.all.count }}</a></td>
			<td>{{ site_block.time|date:"SHORT_DATETIME_FORMAT" }}</td>
			{% for language_code, translations in site_block.get_last_translations %}<td>
				{% if translations %}
					<a href="/block/{{ site_block }}/translate/">{{ translations.count }}</a>
				{% endif %}
			</td>{% endfor %}
		</tr>
		{% endfor %}
	    </tbody>
    	</table>
	{% else %}
		<p>No blocks are present.</p>
	{% endif %}
{% endblock %}
