{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{% trans "block"|capfirst %}: {{ site.name }}{{ page_block.get_label }}{% endblock %}

{% block extra_head %}
<style>
/*label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em; }
pre { display: inline;  padding: 0; }
pre code { display: inline; }
*/
.rounded-box {  border-radius: 10px;  border: 2px solid;  padding: 10px; }
.it { border: 1px solid; border-color: green; margin: 1px; }
.en { border: 1px solid; border-color: red; margin: 1px; }
.es { border: 1px solid; border-color: yellow; margin: 1px; }
.fr { border: 1px solid; border-color: blue; margin: 1px; }

/*
th, td { text-align: left; vertical-align: top; }
*/
</style>

<script>
function make_string (id) {
	s = document.getElementById(id).textContent;
	hidden = document.getElementById('segment');
	hidden.value = s;
	hidden.form.submit();
}
function translate_string (id) {
	s = document.getElementById(id).textContent;
	hidden = document.getElementById('string');
	hidden.value = s;
	hidden.form.submit();
}
function apply_translation (target_code, id_from, id_to) {
	segment = document.getElementById(id_from).textContent;
	translation = document.getElementById(id_to).textContent;
	textarea = document.getElementById(target_code);
	text = textarea.textContent;
	// tx_open = '<tx class="' + target_code + '">';
	// tx_close = '</tx>';
	tx_open = '<span tx man>';
	tx_close = '</span>';
	pos = text.toLowerCase().indexOf(segment);
	if (pos >= 0) {
		firstchar = text.charAt(pos);
		capfirst = (firstchar != firstchar.toLowerCase());
		if (capfirst) {
			translation = translation.charAt(0).toUpperCase() + translation.substring(1);
		}
		text = text.substring(0, pos) + tx_open + translation + tx_close + text.substring(pos+segment.length);
		textarea.value = text;
	}
}
</script>
{% endblock %}

{% block body_id %}block_translate{% endblock %}

{% block title-page %}{% trans "translate block"|capfirst %}{% endblock %}

{% block content-page %}
<blockquote>{{ page_block.get_label }}</blockquote>
  <table class="table table-responsive table-bordered table-striped mB5">
    <thead>
      <tr>
    	<th>{% trans "site"|capfirst %}</th>
    	<th>{% trans "block or site language"|capfirst %}</th>
    	<th>{% trans "block id"|capfirst %}</th>
    	<th>Checksum</th>
    	<th>{% trans "Date"|capfirst %}/{% trans "time"|capfirst %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      	<td><span class="mR10">{{ site.name }}</span><a href="/site/{{ site.slug }}/"><i class="fa fa-th-large" aria-hidden="true"></i></a></td>
      	<td>{{ language }}</td>
      	<td>{{ page_block.id }}</td>
      	<td>{{ page_block.checksum }}</td>
      	<td>{{ page_block.time|date:"SHORT_DATETIME_FORMAT" }}</td>
      </tr>
    </tbody>
  </table>

{% comment %}
    <div><label>Site</label> <a href="/site/{{ site.slug }}/">{{ site.name }}</a></div>
    <div><label>Block or site language</label> {{ language }}
    <div><label>Block id</label> {{ page_block.id }}</div>
    <div><label>Checksum</label> {{ page_block.checksum }}</div>
    <div><label>Time</label> {{ page_block.time|date:"SHORT_DATETIME_FORMAT" }}</div>
{% endcomment %}

<form class="mTB40" action="/block/{{ page_block.id }}/translate/{{ target_code }}/" method="post">{% csrf_token %}
	<input type="hidden" id="segment" name="segment" value="">
	<input type="hidden" id="string" name="string" value="">
    <!--div style="vertical-align: middle;"-->
    <div class="form-group">
		<label>Block language</label> {{ edit_form.language }} &nbsp;
		<label>Invariant</label> {{ edit_form.no_translate }} &nbsp;&nbsp;
		{% if user.is_superuser %}
		<input type="submit" name="save_block" value="Save properties" class="btn btn-sm">
		{% endif %}
	</div>
    <div class="form-group">
		<a class="btn btn-sm" href="/block/{{ page_block.id }}/">View</a>
 		{% if not extract_strings %}<input type="submit" name="extract" class="btn btn-sm" value="Extract strings">{% endif %}
	</div>

{% if user.is_superuser %}
    <div class="form-group">
		<input type="submit" name="apply_filter" class="btn btn-sm" value="Apply filter below"> &nbsp;&nbsp;
		{% if previous %}<input type="submit" name="goto-{{ previous.id }}" class="btn btn-sm" value="Previous">{% endif %}
		{% if next %}<input type="submit" name="goto-{{ next.id }}" class="btn btn-sm" value="Next">{% endif %}
    </div>
    <table class="table"><thead>
    	<tr>{% for field in sequencer_form.visible_fields %}<th style="padding-bottom:0; border-bottom-width:0">{{ field.label_tag }}</th>{% endfor %}</tr>
   	</thead><tbody><tr>
		<td style="border-top-width:0">{{ sequencer_form.webpage }}</td>
		<td style="border-top-width:0">{{ sequencer_form.block_age }}</td>
		<td style="border-top-width:0">{{ sequencer_form.translation_state }}</td>
		<td style="border-top-width:0">{{ sequencer_form.translation_languages }}</td>
		<td style="border-top-width:0">{{ sequencer_form.translation_age }}</td>
		<td style="border-top-width:0">{{ sequencer_form.extract_strings }}</td>
	</tr></tbody></table>    	
	</form>
{% endif %}

	<table class="table">
	<thead>
	<tr><th style="border-bottom-width:0">Language</th><th style="width:50%; border-bottom-width:0">Block</th>
	{% if not page_block.no_translate %}
	<th style="width:48%; border-bottom-width:0" colspan="2">Segments{% if extract_strings %} and strings{% endif %}</th>
	{% endif %}
	</tr>
	</thead>
	<tbody>
	<tr><td style="border-top-width:0;">Source</td><td style="border-top-width:0;"><div class="rounded-box {{ page_block.get_language.code }}">{{ page_block.body }}</div></td>
	<td style="vertical-align: top; border-top-width:0;">
	{% if not page_block.no_translate %}
		<table class="table"><tbody>
		{% for segment, strings, language_translations in source_segments %}
		<tr>{% comment %}<td style="vertical-align: top; border-top-color:transparent"><code>{{forloop.counter|rjust:"3"}}</code></td>{% endcomment %}
			<td style="vertical-align: top; border-top-color:transparent;"><code>{{forloop.counter|rjust:"3"}}</code> {% if segment.id %}<span  id="str-{{ forloop.counter }}" style="font-weight: bold;">{{ segment.text }}</span> &nbsp;
			 	<button type="submit" onclick="translate_string('str-{{ forloop.counter }}'); return false;" class="fa fa-language" style="background-color: white; color: blue; border: none;" title="translate this string" />
				{% else %}<span id="seg-{{ forloop.counter }}">{{ segment }}</span> &nbsp;
				<button type="submit" onclick="make_string('seg-{{ forloop.counter }}'); return false;" class="fa fa-caret-square-o-up" style="background-color: transparent; color: #006BB1; border: none;" title="extract this string" />
				{% endif %}</td></tr>
		{% for language, translations in language_translations %}{% for t in translations %}
		<tr>{% comment %}<td></td>{% endcomment %}<td><span id="tra-{{ forloop.counter }}" class="{{ language.code }}">{{ t.text }}</span>
				<a onclick="apply_translation('{{ language.code }}', 'str-{{ forloop.parentloop.parentloop.counter }}', 'tra-{{ forloop.counter }}'); return true;" class="fa fa-check" style="background-color: white; color: blue; border: none;" title="apply this translation" /></td></tr>
		{% endfor %}{% endfor %}
		{% for score, string in strings %}
		<tr>{% comment %}<td></td>{% endcomment %}<td style="font-style: italic; font-size: small;">{{ score|floatformat:2 }} {{ string.text }}</td></tr>
		{% endfor %}
		{% endfor %}
		</tbody></table>
	{% endif %}
	</td>
	</tr>
	{% if not page_block.no_translate %}
	{% comment %}{% for language, block, segment_strings in target_list %}{% endcomment %}
	<tr><td style="vertical-align: top; border-top-color:transparent;">{{ target_language.name }}</td>
	<td style="vertical-align: top; border-top-color:transparent;">
	{% if translated_block %}
	<textarea id="{{ target_code }}" name="translation-{{ target_code }}" class="rounded-box {{ target_code }}" style="width: 96%; height:100px; margin-top: 0.5em;">{{ translated_block.body }}</textarea>
	<input type="submit" value="Modify translation" name="modify-{{ target_code }}" />
	{% else %}
	<textarea id="{{ target_code }}" name="translation-{{ target_code }}" name="translation-{{ target_code }}"  style="width: 96%; height:100px;">{{ page_block.body }}</textarea>
	<input type="submit" class="btn btn-sm" value="Create translation" name="create-{{ target_code }}" />
	{% endif %}
	</td>
	<td style="vertical-align: top; border-top-color:transparent;">{% for strings in segment_strings %}
		{% if strings %}<div><code>{{forloop.counter|rjust:"3"}}</code></div>
		{% for string in strings %}<div style="font-style: italic; font-size: small; margin-left: 1.8em;">{{ string.text }}</div>{% endfor %}
		{% endif %}
	{% endfor %}</td>
	</tr>
	{% comment %}{% endfor %}{% endcomment %}
	{% endif %}
	</tbody>
	</table>
</form>
{% endblock %}
