{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<style>
    label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em; }
    pre { display: inline;  padding: 0; }
    pre code { display: inline; }
</style>
{% endblock %}

{% block head_title %}Block: {{ site.name }}{{ page_block.xpath }}{% endblock %}

{% block title-page %}<span style="color: black; font-size: smaller;">Translate block:</span> <span style="font-size: small;">{{ page_block.xpath }}</span>{% endblock %}

{% block content-page %}
<form action="/block/{{ page_block.id }}/translate/" method="post">
	{% csrf_token %}
    <div><label>Site</label> <a href="/site/{{ site.slug }}/">{{ site.name }}</a></div>
    <div><label>Site language</label> {{ site.language }}</div>
    <div><label>Time</label> {{ page_block.time|date:"SHORT_DATETIME_FORMAT" }}</div>
    <fieldset style="border: 1px;">
    <div><label>Block language</label> {{ form.language }} &nbsp;
    	 <label>No-translate</label> {{ form.no_translate }} &nbsp;&nbsp;
	     <input type="submit" name="save_block" value="Save properties" class="btn btn-sm" /></div>
	</fieldset>
    <div><label>Id</label> {{ page_block.id }} &nbsp;&nbsp;
		<a class="btn btn-sm" href="/block/{{ page_block.id }}/">View</a>
	</div>
	<div>
		{% if previous %}<input type="submit" name="prev" class="btn btn-sm" value="Previous">{% endif %}
		{% if next %}<input type="submit" name="next" class="btn btn-sm" value="Next">{% endif %}
		&nbsp;&nbsp; Skip translated {{ form.skip_translated }}
		&nbsp;&nbsp; Skip no-translate {{ form.skip_no_translate }}
		&nbsp;&nbsp; Exclude {{ form.exclude_language }}
		&nbsp;&nbsp; Include {{ form.include_language }}
	</div>

	<table style="border-collapse: separate; border-spacing: 5px;">
	<thead>
	<tr><th width="6%">language</th><th width="50%">block</th><th width="44%">segments</th></tr>
	</thead>
	<tbody>
	<tr style="vertical-align: middle;"><td>Source</td><td><pre>{{ page_block.body }}</pre></td>
	<td style="text-align: top;">{% for s in source_segments %}
		<div><pre><code>{{forloop.counter|rjust:"3"}} </code></pre> {{ s }}</div>
	{% endfor %}</td>
	</tr>
	{% if not page_block.no_translate %}
	{% for language, blocks, strings in target_list %}
	<tr><td>{{ language.name }}</td>
	<td style="padding-top: 1.0em;">
	{% if blocks %}
	<textarea name="translation-{{ language.code }}" style="width: 96%; height:100px; margin-top: 0.5em;">{{ blocks.0.body }}</textarea>
	<input type="submit" value="Modify translation" name="modify-{{ language.code }}" />
	{% else %}
	<textarea name="translation-{{ language.code }}"  style="width: 96%; height:100px;">{{ page_block.body }}</textarea>
	<input type="submit" value="Create translation" name="create-{{ language.code }}" />
	{% endif %}
	</td>
	<td>{% for t in target_segments.code %}
		<pre><code>{{forloop.counter|rjust:"3"}} </code></pre> {{ t }}
	{% endfor %}</td>
	</tr>
	{% endfor %}
	{% endif %}
	</tbody>
	</table>
</form>
{% endblock %}
