{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<style>
    label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em;}
</style>
{% endblock %}

{% block head_title %}Website internalization Platform{% endblock %}

{% block body_id %}Homepage{% endblock %}

{% block title-page %}WIP{% endblock %}

{% block content-page %}
<h3>Sites</h3>
<table style="width:100%; border-collapse: separate; border-spacing: 5px;">
<thead>
	<tr><th>Site</th><th>Pages</th><th>Page<br/>versions</th><th>Translated<br/>versions</th><th>Blocks</th><th>Translated<br/>blocks</th></tr>
</thead>
<tbody style="text-align: right;">
    {% for site in sites %}
    <tr>
    	<td style="text-align: left; font-weight: bold;"><a href="/site/{{ site.slug }}/">{{ site.name }}</a></td>
    	<td><a href="/site/{{ site.slug }}/pages/">{{ site.source_pages.count }}</a></td>
    	<td>{{ site.page_versions.count }}</td>
    	<td>{{ site.translated_versions.count }}</td>
    	<td><a href="/site/{{ site.slug }}/blocks/">{{ site.source_blocks.count }}</a></td>
    	<td>{{ site.translated_blocks.count }}</td>
    </tr>
	{% endfor %}
</tbody>
</table>

{% comment %}
<h3>Strings</h3>
<div>&nbsp;<label>Italian strings</label> <a href="/strings/it/translated/en-es-fr/">{{ source_strings.count }}</a></div>
<div>&nbsp;<label>Not translated to English</label> <a href="/strings/it/untranslated/en/">{{ untraslated_strings.en.count }}</a></div>
<div>&nbsp;<label>Not translated to French</label> <a href="/strings/it/untranslated/fr/">{{ untraslated_strings.fr.count }}</a></div>
<div>&nbsp;<label>Not translated to Spanish</label> <a href="/strings/it/untranslated/es/">{{ untraslated_strings.es.count }}</a></div>
{% endcomment %}

{% endblock %}
