{% extends "base.html" %}
{% load staticfiles i18n %}
{% load wip_tags %}

{% block extra_head %}
<style>
.it { color: LimeGreen; }
.en { color: #FF0088; }
.es { color: OrangeRed; }
.fr { color: blue; }   
</style>
{% endblock %}

{% block head_title %}{% trans "segments"|capfirst %}
{% if source_language %} in
{{ source_language }}
{% endif %}
{{ state }}
{% if target_language %} to
{{ target_language }}
{% endif %}
{% endblock %}

{% block body_id %}list_segments{% endblock %}

{% block title-page %}{% trans "Segments translation"|capfirst %}{% if source_language %} from
<pre style="display:inline; font-size:22px; padding:4.5px 9.5px">{{ source_language }}</pre>
{% endif %}
{% if target_language %} to
<pre style="display:inline; font-size:22px; padding:4.5px 9.5px">{{ target_language }}</pre>
{% endif %}
{% if proxy %}
<span style="font-size: medium;">Proxy: <a href="/proxy/{{ proxy.slug }}/">{{ proxy.name }}</a></span>
{% endif %}
{% if segment_count %}
<span style="font-size: medium;">- {% trans "segments found"|capfirst %}: {{ segment_count }}</span>
{% endif %}
{% endblock %}

{% block content-page %}


<form action="#" method="post" id="translation-form">{% csrf_token %}

<div>{% for field in list_segments_form.visible_fields|slice:"0:2" %}{{ field.label_tag }} {{ field }} &nbsp; {% endfor %}
	 {% with field=list_segments_form.visible_fields.6 %}{{ field.label_tag }} {{ field }} {% endwith %}
	 {% with field=list_segments_form.visible_fields.7 %}{{ field.label_tag }} {{ field }} {% endwith %}</div>
<div>{% for field in list_segments_form.visible_fields|slice:"2:4" %}{{ field.label_tag }} {{ field }} &nbsp; {% endfor %}</div>
<div>{% for field in list_segments_form.visible_fields|slice:"4:6" %}{{ field.label_tag }}<span style="font-size: medium;">&nbsp; </span>{{ field }} &nbsp; {% endfor %}</div>

    {% if segments.paginator.num_pages > 1 %}
      <div class="text-right">
        <ul class="pagination mT0">
          {% for p in before %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
          <li><span>{{ segments.number }}</span></li>
          {% for p in after %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
        </ul>
      </div>
    {% endif %}

  {% if segment_count %}
<div style="margin-bottom: 0.5em;">
{% comment %}
<a class="btn btn-default btn-sm" href="/segment_add_by_proxy/{{ proxy.slug }}/">{% trans "add segment"|capfirst %}</a>
{% endcomment %}
<input class="btn btn-default btn-sm" type="submit" name="add-segment" value="{% trans "add segment"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="delete-segment" value="{% trans "delete segment"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="delete-translation" value="{% trans "delete translation"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="make-invariant" value="{% trans "make invariant"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="toggle-invariant" value="{% trans "toggle invariant"|capfirst %}">
</div>

    <table class="table table-responsive table-bordered table-striped mB5">
      <thead>
        <th class="text-right">#</th>
        <th></th>
        <th>id</th>
        <th style="width:40%">{{ source_language }}</th>
        <th style="width:54%">{{ target_language }}</th>
      </thead>
      <tbody>
      {% for segment in segments %}
        <tr>
          <td class="text-right">{{forloop.counter|add:offset}}</td>
          <td><input type="checkbox" name="selection" value="{{ segment.id }}" /></td>
          <td class="text-right"><a href="/segment/{{ segment.id }}/" class="{{ source_language.code }}">{{ segment.id }}</a></td>
          <td>
            {{ segment.text }}
          </td>
          <td>
          <table style="width:100%"><tbody>
          <thead><th style="width:4%"></th><th style="width:85%"></th><th style="width:11%"></th></thead>
          {% if not segment.is_invariant %}
			{% with translations=segment.get_translations %}         
            <input type="hidden" name="segment-{{ segment.id }}" id="segment-{{ segment.id }}" value="{{ segment.id }}">
			{% with target_translations=translations|lookup:target_language.code %}
			    {% if target_translations %}
                    {% for translation in target_translations %}
				  <tr>
				  <td style="vertical-align:top;"><a href="/translation_align/{{ translation.id }}/" class="{{ target_language.code }}">{{ target_language.code }}</a></td>
				  <td>
                        	<input type="hidden" name="translation-{{ translation.id }}" id="translation-{{ translation.id }}" value="{{ translation.id }}">
                        	<textarea class="form-control custom-control" name="text-{{ translation.id }}" id="text-{{ translation.id }}" style="width:100%">{{ translation.text }}</textarea>
					    {% if show_alignments and translation.alignment %}
							  <br />{{ translation.alignment }}
			            {% endif %}
                  </td>
                  <td class="text-center" style="vertical-align:top;">
                        	<span class="input-group-btn">
                  			<input class="btn btn-default btn-sm" type="button" name="save-{{ segment.id }}-{{ translation.id }}" value="{% trans "save"|capfirst %}" onclick="save_translation('segment-{{ segment.id }}', 'translation-{{ translation.id }}', 'text-{{ translation.id }}')">
                        	</span>
                  </td>
                  </tr>
                    {% endfor %}
  			    {% else %}
				  <tr>
				  <td></td>
				  <td>
                        <textarea class="form-control custom-control" name="text-{{ segment.id }}" id="text-{{ segment.id }}" style="width:100%"></textarea>
				  </td>
                  <td class="text-center" style="vertical-align:top;">
                        <span class="input-group-btn">
                  		<input class="btn btn-default btn-sm" type="button" name="save-{{ segment.id }}-0" value="{% trans "save"|capfirst %}" onclick="save_translation('segment-{{ segment.id }}', null, 'text-{{ segment.id }}')">
                        </span>
                  </td>
                  </tr>
			    {% endif %}
		    {% endwith %}         


		    {% if show_other_targets %}
              {% for other_language in other_languages %}
                {% for translation in translations|lookup:other_language.code %}
				  <tr>
                		<td style="font-size: smaller; vertical-align:top;"><a href="/translation_align/{{ translation.id }}/"  class="{{ other_language.code }}">{{ other_language.code }}</a></td>
						<td style="font-size: smaller;">{{ translation.text }}</td>
						<td></td>
				  <tr>
                {% endfor %}
              {% endfor %}
            {% endif %}

		    {% endwith %}         
          {% endif %}
			</tbody></table>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

<div style="margin-bottom: 0.5em;">
{% comment %}
<a class="btn btn-default btn-sm" href="/segment_add_by_proxy/{{ proxy.slug }}/">{% trans "add segment"|capfirst %}</a>
{% endcomment %}
<input class="btn btn-default btn-sm" type="submit" name="add-segment" value="{% trans "add segment"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="delete-segment" value="{% trans "delete segment"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="delete-translation" value="{% trans "delete translation"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="make-invariant" value="{% trans "make invariant"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="toggle-invariant" value="{% trans "toggle invariant"|capfirst %}">
</div>

  {% else %}
    <p>{% trans "no segments were found"|capfirst %}</p>
<div style="margin-top: 0.5em;">
<a class="btn btn-default btn-sm" href="/segment_add_by_proxy/{{ proxy.slug }}/">{% trans "add segment"|capfirst %}</a>
</div>
  {% endif %}

</form>

    {% if segments.paginator.num_pages > 1 %} 
      <div class="text-right">
        <ul class="pagination mB0">
          {% for p in before %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
          <li><span>{{ segments.number }}</span></li>
          {% for p in after %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
        </ul>
      </div>
    {% endif %}

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
function save_translation(segment, translation, text) {
	var form = document.getElementById('translation-form');
	var csrftoken = form.elements["csrfmiddlewaretoken"].value
	var segment_id = document.getElementById(segment).value;
	var translation_id  = 0;
	if (translation)
		translation_id = document.getElementById(translation).value;
	var textarea = document.getElementById(text);
	var target_text = textarea.value;
	if (target_text != '') {
		$.ajax({
			type: 'post', 
			url: '/add_update_translation/',
			data: { 'csrfmiddlewaretoken': csrftoken,
					'site_id': '{{ site.id}}',
					'source_code': '{{ source_language.code }}',
					'target_code': '{{ target_language.code }}',
					'segment_id': segment_id,
					'translation_id': translation_id,
					'target_text': target_text,
					},
			success: function(json){
				$(translation_id).val(json.translation_id);
			},
			error: function() {
				alert('Sorry! Something went wrong.');
			}
		});
	}
}
</script>
{% endblock %}