{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}
	{% if user %}{% trans "scans by"|capfirst %} {{ user.username }}
	{% elif site %}{% trans "scans for site"|capfirst %} {{ site.name }}
	{% else %}{% trans "all scans"|capfirst %}{% endif %}
{% endblock %}

{% block extra_head %}
<style>
table { border-spacing: 10px 0; border-collapse: separate; }
th, td { text-align: left; vertical-align: top; }
</style>
{% endblock %}

{% block title-page %}
	{% if user %}{% trans "scans by"|capfirst %} {{ user.username }}
	{% elif site %}{% trans "scans for site"|capfirst %} {{ site.name }}
	{% else %}{% trans "all scans"|capfirst %}{% endif %}
{% endblock %}

{% block content-page %}

{% if scans %}
<form action="#" method="post" id="scans-form">{% csrf_token %}
<table>
	<thead><tr>
		<th></th>
		<th>id</th>
		<th>spider name</th>
		{% if not user %}<th>user</th>{% endif %}
		<th>cache type</th>
		<th>type</th>
		<th>start</th>
		<th>stop</th>
		<th>max pages</th>
		<th># pages</th>
		<th>new blocks</th>
		<th># segments</th>
		<th># words</th>
	</tr></thead>
<tbody>
{% for scan in scans %}
	<tr>
        <td><input type="checkbox" name="selection" value="{{ scan.pk }}" /></td>
		<td>{{ scan.pk }}</td>
		<td><a href="/scan/{{ scan.pk }}" title="show details">{{ scan.get_label }}</a></td>
		{% if not user %}<td>{{ scan.user.username }}</td>{% endif %}
		<td>{% if scan.scan_type == 1 %}{{ scan.get_cache_type }}{% endif %}</td>
		<td>{{ scan.get_type }}</td>
		<td>{{ scan.created }}</td>
		<td>{{ scan.modified }}</td>
		<td style="text-align: right;">{{ scan.max_pages }}</td>
		<td style="text-align: right;">{{ scan.page_count }}</td>
		<td style="text-align: right;">{{ scan.block_count }}</td>
		<td style="text-align: right;">{{ scan.segment_count }}</td>
		<td style="text-align: right;">{{ scan.word_count }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
<input class="btn btn-default btn-sm" type="submit" name="delete-scan" value="{% trans "delete scan"|capfirst %}">
</form>
{% else %}
<div>{% trans "no scans are present"|capfirst %}.</div>
{% endif %}

{% endblock %}
