{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<style>
    label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em;}
</style>
{% endblock %}

{% block head_title %}Page: {{ site.url }}{{ page.path }}{% endblock %}

{% block title-page %}<span style="font-size: smaller;">Page: {{ site.url }}{{ page.path }}</span>{% endblock %}

{% block content-page %}
    <div><b>Site</b> <a href="/site/{{ site.slug }}/">{{ site.name }}</a> , &nbsp;
   		pages <a href="/site/{{ site.slug }}/pages/" title="list pages">{{ page_count }}</a> , &nbsp;
		URL {{ site.url }}</div>
    <div>&nbsp;</div>
    <div><label>Page URL</label> <a href="{{ site.url }}{{ page.path }}">{{ site.url }}{{ page.path }}</a></div>
    <div><label>Proxy path</label> <a href="/{{ site.path_prefix }}{{ page.path }}">/{{ site.path_prefix }}{{ page.path }}</a></div>
    <div><label>Encoding</label> {{ page.encoding }}</div>
{% comment %}
    <div><label>First crawled</label> {{ page.created|date:"SHORT_DATETIME_FORMAT" }}</div>
    <div><label>Last crawled</label> {{ page.last_checked|date:"SHORT_DATETIME_FORMAT" }}</div>
    <div><label>Last code</label> {{ page.last_checked_response_code }}</div>
{% endcomment %}

	{% if scans %}
    <h5>Crawl history</h5>
    	<table>
   		<thead>
   			<th>Time</th>
   			<th>Code</th>
   			<th>Size</th>
   			<th>xPath of main content region</th>
   			</thead>
   		<tbody>
	    {% for scan in scans %}
		    <tr>
				<td>{{ scan.time|date:"SHORT_DATETIME_FORMAT" }}</td>
				<td>{{ scan.response_code }}</td>
				<td><a href="/page_scan/{{ scan.id }}/">{{ scan.size }}</a> </td>
				{% with region=page.get_region %}{% if region %}
				<td>&nbsp; {{ region.root }} </td>
				{% endif %}{% endwith %}
		    </tr>
	    {% endfor %}
	    </tbody>
    	</table>
	{% endif %}
    
{% endblock %}
