{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block head_title %}Scan of page: {{ site.url }}{{ page.path }}{% endblock %}

{% block title-page %}<span style="font-size: smaller;">Scan of page: {{ site.url }}{{ page.path }}</span>{% endblock %}

{% block content-page %}

    <div><b>Site</b> {{ site.name }} , &nbsp;
    	<b>Time</b> {{ scan.time|date:"SHORT_DATETIME_FORMAT" }} , &nbsp;
   		<b>Code</b> {{ scan.response_code }} </div>
    <div>&nbsp;</div>

	{% if article %}
    <div><b>Extracted text</b></div>
	<div style="margin-bottom: 1em;">{{ article }}</div>
	{% endif %}

    <div><b>HTML document</b></div>
	<pre>{{ scan.body }}</pre>
{% endblock %}
