{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<style>
    label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em;}
</style>
{% endblock %}

{% block head_title %}Scan of page: {{ site.url }}{{ page.path }}{% endblock %}

{% block title-page %}<span style="font-size: smaller;">Scan of page: <a href="/page/{{ page.id }}/">{{ page.path }}</a></span>{% endblock %}

{% block content-page %}

    <div><label>Site</label> {{ site.name }} </div>
    <div><label>Time</label> {{ scan.time|date:"SHORT_DATETIME_FORMAT" }} </div>
   	<div><label>Code</label> {{ scan.response_code }} </div>

	{% if page_text %}
    <h4>xPath of main content region</h4>
	<div>{{ text_xpath }}</div>
    <h4>Extracted text</h4>
	<div>{{ page_text }}</div>
	{% endif %}

	{% if strings %}
<div style="float: left;">
    <h4>Extracted strings</h4>
	{% for string in strings %}
	<div>{{ string }}</div>
	{% endfor %}
</div>
	{% endif %}

	{% if chunks %}
<div style="float: left;">
    <h4>NP chunks</h4>
	{% for chunk in chunks %}
	<div>{{ chunk }}</div>
	{% endfor %}
</div>
	{% endif %}

	{% if tags %}
<div style="float: left;">
    <h4>Tagged tokens</h4>
	{% for tag in tags %}
	<div>{{ tag }}</div>
	{% endfor %}
</div>
	{% endif %}

{% comment %}
    <h4>HTML document</h4>
	<pre>{{ scan.body }}</pre>
{% endcomment %}
{% endblock %}
