{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block head_title %}WIP - Pages of site <a href="/site/{{ site.slug }}/">{{ site.name }}</a>{% endblock %}

{% block title-page %}WIP - Pages of site <a href="/site/{{ site.slug }}/">{{ site.name }}</a>{% endblock %}

{% block extra_head %}
<style>
    pre { display: inline; padding: 0; }
    pre code { line-height: 0.5; }
</style>
{% endblock %}

{% block content-page %}
	{% if pages %}
	<div>
	    {% for page in pages %}
	    <div>
	    <pre><code>{{forloop.counter|rjust:"3"}}</code></pre>
	    &nbsp; <a href="{{ site.url }}{{ page.path }}"><span class="fa fa-external-link" style="font-size: 1.0em;"></span></a>
	    &nbsp; <a href="/{{ site.path_prefix }}{{ page.path }}"><span class="fa fa-link" style="font-size: 1.0em;"></span></a>
		&nbsp; <a href="/page/{{ page.id }}/">{{ page.path }}</a>
	    </div>
	    {% endfor %}
	</div>
	{% else %}
		<p>No pages are present.</p>
	{% endif %}
{% endblock %}
