{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{% trans "blocks of site"|capfirst %}: {{ site.name }}, {% trans "page" %} {{ webpage.path }}{% endblock %}

{% comment %}
{% block extra_head %}
<style>
    pre { display: inline; padding: 0; }
    pre code { line-height: 0.5; }
</style>
{% endblock %}
{% endcomment %}

{% block title-page %}<small>{% trans "blocks of site"|capfirst %}: <a href="/site/{{ site.slug }}/">{{ site.name }}</a>,<br>{% trans "page" %} <a href="/page/{{ webpage.id }}/">{{ webpage.path }}</a></small>{% endblock %}

{% block content-page %}
	{% if block_count %}
	<p>{% trans "blocks found in this page"|capfirst %}: {{ block_count }}</p>
{% comment %}
	<div class="pagination">
    <span class="step-links">
    	{% for p in before %}<a href="?page={{ p }}">{% if forloop.first %}<i class="fa fa-fast-backward"></i> {% else %}{{ p }}{% endif %}</a>&nbsp;{% endfor %}
        &nbsp;<i class="fa fa-circle" style="font-size: 0.5em;"></i> page {{ page_blocks.number }} of {{ page_blocks.paginator.num_pages }} <i class="fa fa-circle" style="font-size: 0.5em;"></i>&nbsp;
    	{% for p in after %}&nbsp;<a href="?page={{ p }}">{% if forloop.last %} <i class="fa fa-fast-forward"></i> {% else %} {{ p }} {% endif %}</a></a>{% endfor %}
    </span>
	</div>
{% endcomment %}

    {% if  page_blocks.paginator.num_pages > 1 %}
      <div class="text-right">
        <ul class="pagination mT0">
          {% for p in before %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
          <li><span>{{ page_blocks.number }}</span></li>
          {% for p in after %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
        </ul>
      </div>
    {% endif %}

    <table class="table table-responsive table-bordered table-striped mB5">
      <thead>
      	<tr>
      	  <th class="text-right">#</th>
          <th class="text-right">Id</th>
          <th class="text-right">{% trans "chars"|capfirst %}</th>
          <th>xPath</th>
          <th class="text-right">{% trans "pages"|capfirst %}</th>
          <th>{% trans "date"|capfirst %}/{% trans "time"|capfirst %}</th>
        </tr>
      </thead>
      <tbody>
	    {% for page_block in page_blocks %}
	      <tr>
          <td class="text-right">{{forloop.counter|rjust:"3"}}</td>
		      <td class="text-right">{{ page_block.block.id }}</td>
		      <td class="text-right">{{ page_block.block.body|length }}</td>
		      <td><a href="/block/{{ page_block.block.id }}/">{{ page_block.xpath }}</a></td>
		      <td class="text-right"><a href="/block/{{page_block.block.id }}/pages/">{{ page_block.block.webpages.all.count }}</a></td>
		      <td>{{ page_block.block.time|date:"SHORT_DATETIME_FORMAT" }}</td>
          </tr>
	    {% endfor %}
      </tbody>
    </table>
   	
   	  {% if  page_blocks.paginator.num_pages > 1 %}
      <div class="text-right">
        <ul class="pagination mB0">
          {% for p in before %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
          <li><span>{{ page_blocks.number }}</span></li>
          {% for p in after %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
        </ul>
      </div>
    {% endif %}
	{% else %}
		<p>{% trans "no blocks are present"|capfirst %}</p>
	{% endif %}
{% endblock %}
