{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
<div class="container">
    {% include "_menu_bar.html" %}

    <h1>{% block title %}WIP - Pages of site <a href="/site/{{ site.slug }}/">{{ site.name }}</a>{% endblock %}</h1>

    {% bootstrap_messages %}

    {% block content %}
	{% if pages %}
	<div>
	    {% for page in pages %}
	    <div>
	    {{forloop.counter }} <a href="/{{ site.path_prefix }}{{ page.path }}">{{ page.path }}</a>
	    </div>
	    {% endfor %}
	</div>
	{% else %}
		<p>No pages are present.</p>
	{% endif %}
	{% endblock %}
</div>

{% endblock %}
