{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{% trans "pages of site"|capfirst %}: {{ site.name }}{% endblock %}

{% block extra_head %}
{% comment %}
<style>
    pre { display: inline; padding: 0; }
    pre code { line-height: 0.5; }
</style>
{% endcomment %}
{% endblock %}

{% block body_id %}pages{% endblock %}

{% block title-page %}{% trans "pages of site"|capfirst %}: <a href="/site/{{ site.slug }}/">{{ site.name }}</a>{% endblock %}

{% block content-page %}
    <p>{% trans "pages found"|capfirst %}: {{ page_count }}</p>

	<form action="#" method="post" id="path-filter-form">{% csrf_token %}
		<label>Pattern in page path</label> {{ filter_pages_form.path_filter }} &nbsp;
		<label>Match from start</label> {{ filter_pages_form.from_start }} &nbsp;&nbsp;
	</form> 
   
  {% if page_count %}

    {% if site_pages.paginator.num_pages > 1 %}
      <div class="text-right">
        <ul class="pagination mT0">
          {% for p in before %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
          <li><span>{{ site_pages.number }}</span></li>
          {% for p in after %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
        </ul>
      </div>
    {% else %}
      <div style="margin: 20px;"></div>
    {% endif %}

    <table class="table table-responsive table-bordered table-striped mB5">
      <thead>
        <tr>
          <th class="text-right">#</th>
          <th class="text-right">Id</th>
          <th class="text-center">{% trans "source"|capfirst %}</th>
          <th class="text-center" colspan='{{ proxies.count|add:"1" }}'>{% trans "proxies"|capfirst %}</th>
          <th>{% trans "page path"|capfirst %}</th>
          <th class="text-center">{% trans "blocks"|capfirst %}</th>
          {% for proxy in proxies %}<th class="text-center">{{ proxy.language.code }}</th>{% endfor %}
          <th>{% trans "last checked"|capfirst %}</th>{% comment %}<th>xPath of main content region</th>{% endcomment %}
        </tr>
      </thead>
      <tbody>
      {% for site_page in site_pages %}
        <tr>
          <td class="text-right">{{forloop.counter|add:offset|rjust:"3"}}</td>
          <td class="text-right">{{ site_page.id }}</td>
          <td class="text-center"><a href="{{ site.url }}{{ site_page.path }}" title="goto original page"><span class="fa fa-external-link"></span></a></td>
          <td class="text-center"><a href="/{{ site.path_prefix }}{{ site_page.path }}" title="view page through the null proxy">null</a></td>
          {% for language, translated_block_count in site_page.get_translated_blocks_count %}
            <td class="text-center">
            {% if translated_block_count %}
              <a href="/{{ site.path_prefix }}/{{ language.code }}{{ site_page.path }}" title="view page through the {{ language.name }} proxy">{{ language.code }}</a>
            {% endif %}
            </td>
          {% endfor %}
          <td><a href="/page/{{ site_page.id }}/">{{ site_page.path }}</a></td>
          <td class="text-center"><a href="/page/{{ site_page.id }}/blocks/">{{ site_page.blocks.all.count }}</a></td>
          {% for language, blocks_count in site_page.get_translated_blocks_count %}
            <td class="text-center">{% if blocks_count %} {{ blocks_count }} {% endif %}</td>
          {% endfor %}
          <td>{{ site_page.last_checked|date:"SHORT_DATETIME_FORMAT" }} </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% if site_pages.paginator.num_pages > 1 %}
      <div class="text-right">
        <ul class="pagination mB0">
          {% for p in before %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
          <li><span>{{ site_pages.number }}</span></li>
          {% for p in after %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
        </ul>
      </div>
    {% endif %}

  {% endif %}

{% endblock %}
