{% load staticfiles i18n %}
<dl class="portletDX border-white">
<dd><a href="http://fiadopt-project.eu/" target="_blank" title="FI-Adopt"><img src="{% static "fairvillage/img/fiadopt.png" %}" alt="logo of the FI-Adopt Project"></a></dd>
</dl>
<dl class="portletDX">
<dt style="margin:0;">{% trans "partners"|capfirst %}</dt>
<dd><a href="http://www.scuolemigranti.org/" target="_blank" title="ScuoleMigranti"><img src="{% static "fairvillage/img/scuolemigranti.png" %}" alt="logo of the ScuoleMigranti Network"></a></dd>
</dl>

