{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{% trans "proxies"|capfirst %}{% endblock %}

{% block body_id %}proxies{% endblock %}

{% block title-page %}{% trans "sites"|capfirst %}{% endblock %}

{% block content-page %}

  {% if proxies %}
    <div>
    {% for proxy in proxies %}
      <div>
        <h4><a href="{% url 'proxy' proxy.slug %}">{{ proxy.name }}</a></h4>
      </div>
    {% endfor %}
    </div>
  {% else %}
    <p>{% trans "no proxies are available"|capfirst %}</p>
  {% endif %}
{% endblock %}
