{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{% trans "strings"|capfirst %}
{% if source_language %} in
{{ source_language }}
{% endif %}
{{ state }}
{% if target_language %} to
{{ target_language }}
{% endif %}
{% endblock %}

{% block body_id %}list_strings{% endblock %}

{% block title-page %}{% trans "strings"|capfirst %}{% if source_language %} in
<pre style="display:inline; font-size:22px; padding:4.5px 9.5px">{{ source_language }}</pre>
{% endif %}
{{ state }}
{% if target_language %} to
<pre style="display:inline; font-size:22px; padding:4.5px 9.5px">{{ target_language }}</pre>
{% endif %}{% endblock %}

{% block content-page %}

<h4>Proxy: <a href="/proxy/{{ proxy.slug }}/">{{ proxy.name }}</a></h4>

  {% if string_count %}
    <p>{% trans "strings found"|capfirst %}: {{ string_count }}</p>

    {% if strings.paginator.num_pages > 1 %}
      <div class="text-right">
        <ul class="pagination mT0">
          {% for p in before %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
          <li><span>{{ strings.number }}</span></li>
          {% for p in after %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
        </ul>
      </div>
    {% endif %}


    <table class="table table-responsive table-bordered table-striped mB5">
      <thead>
        <th class="text-right">#</th>
        <th style="width:40%">{{ source_language }}</th>
        <th style="width:54%">{{ target_language }}</th>
      </thead>
      <tbody>
      {% for string in strings %}
        <tr>
          <td class="text-right">{{forloop.counter|add:offset}}</td>
          <td>
            {{ string.text }}
          </td>
          <td>
          {% if not string.invariant %}
            {% if string.txu_id %}
              {% for translation in string.get_translations %}
                {% if translation.0 == target_language %}
                   <form action="#" method="post">{% csrf_token %}<input type="hidden" name="source_id" value="{{ string.id }}"><input type="hidden" name="txu_id" value="{{ string.txu_id}}">
                  <div class="input-group">
                    {% if translation.1 %}
                      {% for s in translation.1 %}
                        <input type="hidden" name="translated_id" value="{{ s.id }}"><span class="input-group-btn"><button type="reset" class="btn" style="background:transparent; border:none" name="delete" value="D"><i class="fa fa-times" aria-hidden="true"></i></button></span><textarea class="form-control custom-control" name="translation" style="width:100%">{{ s.text }}</textarea><span class="input-group-btn"><input class="btn btn-default btn-sm" type="submit" name="salva" value="{% trans "save"|capfirst %}"></span>
                      {% endfor %}
                    {% else %}
                        <input type="hidden" name="translated_id" value="0"><textarea class="form-control custom-control" name="translation" style="width:100%"></textarea><span class="input-group-btn"><input class="btn btn-default btn-sm" type="submit" name="save" value="{% trans "save"|capfirst %}"></span>
                    {% endif %}
                  </div>
                </form>

                {% endif %}

              {% endfor %}
            {% else %}
              <form action="#" method="post">{% csrf_token %}<input type="hidden" name="source_id" value="{{ string.id }}"><input type="hidden" name="txu_id" value="0"><input type="hidden" name="translated_id" value="0">
                <div class="input-group">
                  <span class="input-group-btn"></span><textarea class="form-control custom-control" name="translation" style="width:100%"></textarea><span class="input-group-btn"><input class="btn btn-default btn-sm" type="submit" name="save" value="{% trans "save"|capfirst %}"></span>
                </div>
              </form>
            {% endif %}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% if strings.paginator.num_pages > 1 %} 
      <div class="text-right">
        <ul class="pagination mB0">
          {% for p in before %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
          <li><span>{{ strings.number }}</span></li>
          {% for p in after %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
        </ul>
      </div>
    {% endif %}

  {% else %}
    <p>{% trans "no strings were found"|capfirst %}</p>
  {% endif %}

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
	$(document).ready(function() {
		$('button').click(function() {
			console.log('delete');
			var input = $(this).parent().closest("form").find("input");
			for (var i=0; i<input.length; i++) {
				switch (input[i].name) {
					case 'source_id':
						var source_id = $(input[i]).val();
					case 'txu_id':
						var txu_id = $(input[i]).val();
						break;
					case 'translated_id':
						var translated_id = $(input[i]).val();
				}
			}
			$.ajax({
				type: 'GET', 
				url: '/delete_translated_string/',
				data: 'source_id='+source_id+'&translated_id='+translated_id+'&txu_id='+txu_id,
				success: function(json){
					console.log(json.data);
				},
				error: function() {
					alert('Sorry! Something went wrong.');
				}
			});
		});
		$('form').submit(function(e) {
			console.log('form');
			e.preventDefault();
			var form = $(this);
			var textarea = $(this).closest("form").find("textarea");
			var input = $(this).closest("form").find("input");
			for (var i=0; i<input.length; i++) {
				switch (input[i].name) {
					case 'txu_id':
						var txu_id = input[i];
						break;
					case 'translated_id':
						var translated_id = input[i];
				}
			}
			var textvalue = textarea.val();
			if (textvalue != '') {
				$.ajax({
					type: $(this).attr('method'), 
					url: '/add_translated_string/',
					data: $(this).serialize()+'&t_l='+'{{ target_language }}'+'&s_l='+'{{ source_language }}'+'&site_name='+'{{ site.name}}',
					success: function(json){
						switch (json.data){ 
							case 'add-txt-string':
								$(txu_id).val(json.txu_id);
								$(translated_id).val(json.translated_id);
								break;
							case "add-string":
								$(translated_id).val(json.translated_id);
							// break;
							// case "modify-string":
						}
					},
					error: function() {
						alert('Sorry! Something went wrong.');
					}
				});
			}
		 }); 
  });
</script>
{% endblock %}