{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}Proxy: {{ proxy.name }}{% endblock %}

{% block extra_head %}
{% comment %}
<style>
    label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em;}
    pre { display: inline; padding: 0; }
    pre code { line-height: 0.5; }
</style>
{% endcomment %}
{% endblock %}

{% block body_id %}proxy{% endblock %}

{% block title-page %}WIP - Proxy: {{ proxy.name }}{% endblock %}

{% block content-page %}
{% comment %}
    <div><label>Site</label> <a href="{% url 'site' site.slug %}">{{ site.name }}</a></div>
    <div><label>Proxy language</label> {{ proxy.language.name }}</div>
    <div><label>Base path</label> {{ proxy.base_path }}</div>

    <div><label>Pages</label> {% if page_count %} <a href="/site/{{ site.slug }}/pages/" title="list pages">{{ page_count }}</a> {% else %}0{% endif %}
    	{% if page_count %}&nbsp; <a href="/page/{{ first_page.id }}/" title="browse all pages"><span class="fa fa-caret-square-o-right"></span></a>{% endif %}</div>
    <div><label>Page blocks</label> {% if block_count %} <a href="/site/{{ site.slug }}/blocks/" title="list blocks">{{ block_count }}</a> {% else %}0{% endif %}
		{% if block_count %}&nbsp; <a href="/block/{{ first_block.id }}/" title="browse all blocks"><span class="fa fa-caret-square-o-right"></span></a>{% endif %}</div>

    <div><label>Translated pages</label> {{ translated_pages_count }}</div>
    <div><label>Translated blocks</label> {{ translated_blocks__count }}</div>
{% endcomment %}

  <table class="table table-responsive table-bordered table-striped">
    <thead>
      <th>{% trans "site"|capfirst %}</th>
      <th>{% trans "proxy language"|capfirst %}</th>
      <th>{% trans "proxy domain"|capfirst %}</th>
      <th>{% trans "base path"|capfirst %}</th>
      <th>{% trans "pages"|capfirst %}</th>
      <th>{% trans "page blocks"|capfirst %}</th>
      <th>{% trans "translated pages"|capfirst %}</th>
      <th>{% trans "translated blocks"|capfirst %}</th>
    </thead>
    <tbody>
      <td><a href="{% url 'site' site.slug %}">{{ site.name }}</a></td>
      <td>{{ proxy.language.name }}</td>
      <td>{% if proxy.host %}<a href="{{ proxy.host }}">{{ proxy.host }}</a>{% else %}{% trans "not defined" %}{% endif %}</td>
      <td>{{ proxy.base_path }}</td>
      <td>{% if page_count %}<span class="mR10">{{ page_count }}</span><span class="mR10"><a href="/site/{{ site.slug }}/pages/" title="{% trans "list pages" %}"><i class="fa fa-th-list"></i></a></span><a href="/page/{{ first_page.id }}/" title="{% trans "browse all pages" %}"><i class="fa fa-caret-square-o-right"></i></a>{% else %}0{% endif %}</td>
      <td>{% if block_count %}<span class="mR10">{{ block_count }}</span><span class="mR10"><a href="/site/{{ site.slug }}/blocks/" title="{% trans "list blocks" %}"><i class="fa fa-th-list"></i></a></span><a href="/block/{{ first_block.id }}/" title="{% trans "browse all blocks" %}"><i class="fa fa-caret-square-o-right"></i></a>{% else %}0{% endif %}</td>
      <td>{{ translated_pages_count }}</td>
      <td>{{ translated_blocks__count }}</td>
    </tbody>
  </table>


  {% if user.is_superuser %}
    <div class="mB20">
    <form action="/proxy/{{ proxy.slug }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
      {% if page_count %}
        <div class="form-group">{{ manage_form.delete_pages_confirmation }} Yes, I want to delete all translated pages
          <input type="submit" name="delete_pages" value="Delete translated pages" title="delete translated pages" class="btn btn-sm">
        </div>
      {% endif %}
      {% if block_count %}
        <div class="form-group">{{ manage_form.delete_blocks_confirmation }} Yes, I want to delete all translated blocks
          <input type="submit" name="delete_blocks" value="Delete translated blocks" title="delete translated blocks" class="btn btn-sm">
        </div>
      {% endif %}
      {% if not page_count and not block_count %}
        <div class="form-group">{{ manage_form.delete_proxy_confirmation }} Yes, I am fully aware
          <input type="submit" name="delete_proxy" value="Delete proxy" title="Delete all proxy info" class="btn btn-sm">
        </div>
      {% endif %}
        <div class="form-group">{{ manage_form.file }}
          <input type="submit" name="import_translations" value="Import XLIFF translations" title="Import XLIFF translations" class="btn btn-sm">
        </div>

      {% if blocks_ready %}
        <h4>In blocks ready for translation ..</h4>
        <div class="form-group">
          <input type="submit" name="apply_tm" value="Apply TM" title="Apply TM" class="btn btn-sm"> (Replace segments with exact matches)
          <input type="submit" name="propagate_up" value="Propagate up" title="Apply TM" class="btn btn-sm"> (Propagate up updates of translated blocks)
        </div>
      {% endif %}
    </form>
    </div>
    {% if blocks_ready %}
      <h4>{% trans "blocks ready for translation"|capfirst %}: {{ ready_count }}</h4>
      <table class="table table-responsive table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-right">#</th>
            <th class="text-right">Id</th>
            <th>{% trans "parents"|capfirst %}</th>
            <th>{% trans "pages"|capfirst %}</th>
            <th class="text-right">{% trans "chars"|capfirst %}</th>
            <th>{% trans "text is / starts with .."|capfirst %}</th>
            <th>{% trans "date"|capfirst %}/{% trans "time"|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for page_block in blocks_ready %}
            <tr>
              <td class="text-right">{{forloop.counter|rjust:"3"}}</td>
              <td class="text-right">{{ page_block.id }}</td>
              <td>{{ page_block.parents.count }}</td>
              <td><a href="/block/{{ page_block.id }}/">{{ page_block.webpages.count }}</a></td>
              <td class="text-right">{{ page_block.body|length }}</td>
              <td><a href="/block/{{ page_block.id }}/">{{ page_block.get_label }}</a></td>
              <td>{{ page_block.time|date:"SHORT_DATETIME_FORMAT" }}</td>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "no pages include this block"|capfirst %</p>
    {% endif %}
  {% endif %}
{% endblock %}
