{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<style>
.it { color: LimeGreen; }
.en { color: #FF0088; }
.es { color: Orange; }
.fr { color: blue; }   
</style>
{% endblock %}

{% block head_title %}{% trans "strings"|capfirst %}
{% if source_language %} in
{{ source_language }}
{% endif %}
{{ state }}
{% if target_language %} to
{{ target_language }}
{% endif %}
{% endblock %}

{% block body_id %}list_strings{% endblock %}

{% block title-page %}{% trans "Strings translation"|capfirst %}{% if source_language %} from
<pre style="display:inline; font-size:22px; padding:4.5px 9.5px">{{ source_language }}</pre>
{% endif %}
{% if target_language %} to
<pre style="display:inline; font-size:22px; padding:4.5px 9.5px">{{ target_language }}</pre>
{% endif %}
{% if proxy %}
<span style="font-size: medium;">Proxy: <a href="/proxy/{{ proxy.slug }}/">{{ proxy.name }}</a></span>
{% endif %}
{% if string_count %}
<span style="font-size: medium;">- {% trans "strings found"|capfirst %}: {{ string_count }}</span>
{% endif %}
{% endblock %}

{% block content-page %}


<form action="#" method="post" id="translation-form">{% csrf_token %}

<div>{% for field in strings_translations_form.visible_fields|slice:"0:2" %}{{ field.label_tag }} {{ field }} &nbsp; {% endfor %}
	 {% with field=strings_translations_form.visible_fields.6 %}{{ field.label_tag }} {{ field }} {% endwith %}</div>
<div>{% for field in strings_translations_form.visible_fields|slice:"2:4" %}{{ field.label_tag }} {{ field }} &nbsp; {% endfor %}</div>
<div>{% for field in strings_translations_form.visible_fields|slice:"4:6" %}{{ field.label_tag }}<span style="font-size: medium;">&nbsp; </span>{{ field }} &nbsp; {% endfor %}</div>

    {% if strings.paginator.num_pages > 1 %}
      <div class="text-right">
        <ul class="pagination mT0">
          {% for p in before %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
          <li><span>{{ strings.number }}</span></li>
          {% for p in after %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
        </ul>
      </div>
    {% endif %}

  {% if string_count %}
<div style="margin-bottom: 0.5em;">
<a class="btn btn-default btn-sm" href="/string_add_by_proxy/{{ proxy.slug }}/">{% trans "add source string"|capfirst %}</a>
<input class="btn btn-default btn-sm" type="submit" name="delete-segment" value="{% trans "delete source with TUs"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="delete-translation" value="{% trans "delete translation"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="make-invariant" value="{% trans "make invariant"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="toggle-invariant" value="{% trans "toggle invariant"|capfirst %}">
</div>

    <table class="table table-responsive table-bordered table-striped mB5">
      <thead>
        <th class="text-right">#</th>
        <th></th>
        <th>id</th>
        <th style="width:40%">{{ source_language }}</th>
        <th style="width:54%">{{ target_language }}</th>
      </thead>
      <tbody>
      {% for string in strings %}
        <tr>
          <td class="text-right">{{forloop.counter|add:offset}}</td>
          <td><input type="checkbox" name="selection" value="{{ string.id }}" /></td>
          <td class="text-right"><a href="/string/{{ string.id }}/" class="{{ source_language.code }}">{{ string.id }}</a></td>
          <td>
            {{ string.text }}
          </td>
          <td>
          <table style="width:100%"><tbody>
          <thead><th style="width:4%"></th><th style="width:85%"></th><th style="width:11%"></th></thead>
          {% if not string.invariant %}
            {% if string.txu_id %}
              {% for translation in string.get_translations %}
                {% if translation.0 == target_language %}
                	<input type="hidden" name="source_id" value="{{ string.id }}" id="{{ string.id }}">
                	<input type="hidden" name="txu_id" value="{{ string.txu_id}}" id="txu-{{ string.id }}">
                    {% if translation.1 %}
                      {% for s in translation.1 %}
				  <tr>
				  <td style="vertical-align:top;"><a href="/string/{{ s.id }}/"  class="{{ target_language.code }}">{{ target_language.code }}</a></td>
				  <td>
                        	<input type="hidden" name="translated_id" value="{{ s.id }}" id="translated-{{ string.id }}">
                        	<textarea class="form-control custom-control" name="translation-{{ string.id }}" id="translation-{{ string.id }}" style="width:100%">{{ s.text }}</textarea>
                  </td>
                  <td class="text-center" style="vertical-align:top;">
                        	<span class="input-group-btn">
                  			<input class="btn btn-default btn-sm" type="button" name="save-{{ string.id }}-{{ translated_id }}-{{ string.txu_id}}" value="{% trans "save"|capfirst %}" onclick="save_translation('{{ string.id }}', 'txu-{{ string.id }}', 'translated-{{ string.id }}', 'translation-{{ string.id }}')">
                        	</span>
                  </td>
                  </tr>
                      {% endfor %}
                    {% else %}
				  <tr>
				  <td></td>
				  <td>
                        <input type="hidden" name="translated_id" value="0" id="translated-{{ string.id }}">
                        <textarea class="form-control custom-control" name="translation-{{ string.id }}" id="translation-{{ string.id }}" style="width:100%"></textarea>
				  </td>
                  <td class="text-center" style="vertical-align:top;">
                        <span class="input-group-btn">
                  		<input class="btn btn-default btn-sm" type="button" name="save-{{ string.id }}-{{ translated_id }}-0" value="{% trans "save"|capfirst %}" onclick="save_translation('{{ string.id }}', 'txu-{{ string.id }}', 'translated-{{ string.id }}', 'translation-{{ string.id }}')">
                        </span>
                  </td>
                  </tr>
                    {% endif %}
                {% endif %}
              {% endfor %}

			  {% if show_other_targets %}
              {% for translation in string.get_translations %}
                {% if translation.0 != target_language %}
                    {% if translation.1 %}
                      {% for s in translation.1 %}                    
				  <tr>
                		<td style="font-size: smaller; vertical-align:top;"><a href="/string/{{ s.id }}/"  class="{{ translation.0.code }}">{{ translation.0.code }}</a></td>
						<td style="font-size: smaller;">{{ s }}</td>
						<td></td>
				  <tr>
              		  {% endfor %}
              		{% endif %}
                {% endif %}
              {% endfor %}
              {% endif %}

            {% else %}
              	  <input type="hidden" name="source_id" value="{{ string.id }}" id="{{ string.id }}">
              	  <input type="hidden" name="txu_id" value="0" id="txu-{{ string.id }}">
              	  <input type="hidden" name="translated_id" value="0" id="translated-{{ string.id }}">
                <div class="input-group">
                  <span class="input-group-btn"></span><textarea class="form-control custom-control" name="translation-{{ string.id }}" id="translation-{{ string.id }}" style="width:100%"></textarea>
                  <span class="input-group-btn">
                  <input class="btn btn-default btn-sm" type="button" name="save-{{ string.id }}-0-0" value="{% trans "save"|capfirst %}" onclick="save_translation('{{ string.id }}', 'txu-{{ string.id }}', 'translated-{{ string.id }}', 'translation-{{ string.id }}')">
                  </span>
                </div>
            {% endif %}
          {% endif %}
			</tbody></table>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

<div>
<a class="btn btn-default btn-sm" href="/string_add_by_proxy/{{ proxy.slug }}/">{% trans "add source string"|capfirst %}</a>
<input class="btn btn-default btn-sm" type="submit" name="delete-segment" value="{% trans "delete source with TUs"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="delete-translation" value="{% trans "delete translation"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="make-invariant" value="{% trans "make invariant"|capfirst %}">
<input class="btn btn-default btn-sm" type="submit" name="toggle-invariant" value="{% trans "toggle invariant"|capfirst %}">
</div>

  {% else %}
    <p>{% trans "no strings were found"|capfirst %}</p>
<div style="margin-top: 0.5em;">
<a class="btn btn-default btn-sm" href="/string_add_by_proxy/{{ proxy.slug }}/">{% trans "add source string"|capfirst %}</a>
</div>
  {% endif %}

</form>

    {% if strings.paginator.num_pages > 1 %} 
      <div class="text-right">
        <ul class="pagination mB0">
          {% for p in before %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
          <li><span>{{ strings.number }}</span></li>
          {% for p in after %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
        </ul>
      </div>
    {% endif %}

{% endblock %}

{% block extra_script %}
<script type="text/javascript">

function save_translation(source_id, txu, translated, translation) {
	var form = document.getElementById('translation-form');
	var csrftoken = form.elements["csrfmiddlewaretoken"].value
	var txu_id = document.getElementById(txu).value;
	var translated_id = document.getElementById(translated).value;
	var textarea = document.getElementById(translation);
	var textvalue = textarea.value;
	if (textvalue != '') {
		$.ajax({
			type: 'post', 
			url: '/add_translated_string/',
			data: { 'csrfmiddlewaretoken': csrftoken,
					'site_name': '{{ site.name}}',
					's_l':  '{{ source_language }}',
					't_l':  '{{ target_language }}',
					'source_id': source_id,
					'txu_id': txu_id,
					'translated_id': translated_id,
					'translation': textvalue,
					},
			success: function(json){
				switch (json.data){ 
					case 'add-txt-string':
						$(txu_id).val(json.txu_id);
						$(translated_id).val(json.translated_id);
						break;
					case "add-string":
						$(translated_id).val(json.translated_id);
				}
			},
			error: function() {
				alert('Sorry! Something went wrong.');
			}
		});
	}
}


$(document).ready(function() {
	{% comment %}
		$('button').click(function() {
			console.log('delete');
			var input = $(this).parent().closest("form").find("input");
			for (var i=0; i<input.length; i++) {
				switch (input[i].name) {
					case 'source_id':
						var source_id = $(input[i]).val();
					case 'txu_id':
						var txu_id = $(input[i]).val();
						break;
					case 'translated_id':
						var translated_id = $(input[i]).val();
				}
			}
			$.ajax({
				type: 'GET', 
				url: '/delete_translated_string/',
				data: 'source_id='+source_id+'&translated_id='+translated_id+'&txu_id='+txu_id,
				success: function(json){
					console.log(json.data);
				},
				error: function() {
					alert('Sorry! Something went wrong.');
				}
			});
		});
		$('form').submit(function(e) {
			console.log('form');
			e.preventDefault();
			var form = $(this);
			var textarea = $(this).closest("form").find("textarea");
			var input = $(this).closest("form").find("input");
			for (var i=0; i<input.length; i++) {
				switch (input[i].name) {
					case 'txu_id':
						var txu_id = input[i];
						break;
					case 'translated_id':
						var translated_id = input[i];
				}
			}
			var textvalue = textarea.val();
			if (textvalue != '') {
				$.ajax({
					type: $(this).attr('method'), 
					url: '/add_translated_string/',
					data: $(this).serialize()+'&t_l='+'{{ target_language }}'+'&s_l='+'{{ source_language }}'+'&site_name='+'{{ site.name}}',
					success: function(json){
						switch (json.data){ 
							case 'add-txt-string':
								$(txu_id).val(json.txu_id);
								$(translated_id).val(json.translated_id);
								break;
							case "add-string":
								$(translated_id).val(json.translated_id);
							// break;
							// case "modify-string":
						}
					},
					error: function() {
						alert('Sorry! Something went wrong.');
					}
				});
			}
		 });
		{% endcomment %}
});
</script>
{% endblock %}