{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{% trans "edit user role"|capfirst %}{% endblock %}

{% block extra_head %}
<style>
</style>
{% endblock %}

{% block title-page %}
{% if user_role %}{% trans "edit user role"|capfirst %} of {{ user_role.user.username }}
{% else %}{% trans "create new user role"|capfirst %}{% endif %}
{% endblock %}

{% block content-page %}

<form action="/role/edit/" method="post" id="role-edit-form">{% csrf_token %}

{% for field in form.hidden_fields %}{{ field }}{% endfor %}
<fieldset>
{% for field in form.visible_fields %}
<div><span class="txt-error">{{ field.errors }}</span>{{ field.label_tag }} {{ field }}</div>
{% endfor %}
</fieldset>

 <div>
	<input type="submit" name="save" class="btn btn-sm" value="Save"> &nbsp;&nbsp;
	<input type="submit" name="cancel" class="btn btn-sm" value="Cancel"> &nbsp;&nbsp;
</div>

</form>
 
{% endblock %}
