{% extends "base.html" %}
{% load staticfiles i18n %}
{% load wip_tags %}

{% block extra_head %}
<style>
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: small;
    font-style: italic;
}
label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em; }
pre { display: inline;  padding: 0; }
pre code { display: inline; }
tr.odd { background: LightGray; }
tr.even { background: white; }
{% comment %}
.it { color: LimeGreen; }
.en { color: #FF0088; }
.es { color: OrangeRed; }
.fr { color: blue; }   
{% endcomment %}
.it { border: 1px solid; border-color: green; margin: 1px; }
.en { border: 2px solid; border-color: red; margin: 1px; }
.es { border: 2px solid; border-color: yellow; margin: 1px; }
.fr { border: 1px solid; border-color: blue; margin: 1px; }
th, td { text-align: left; vertical-align: top; }
</style>
{% endblock %}

{% block head_title %}Segment: {{ segment.text }}{% endblock %}

{% block title-page %}{% trans "segment"|capfirst %}: <small><i>{{ segment.text|truncatechars:64 }}</i></small>{% endblock %}

{% block content-page %}
<form action="/segment/{{ segment.id }}/" method="post">
	{% csrf_token %}

  <table class="table table-responsive table-bordered table-striped mB5">
    <thead><tr>
    	<th width="15%">{% trans "project"|capfirst %}</th>
    	<th width="5%">{% trans "id"|capfirst %}</th>
    	<th>{% trans "text"|capfirst %}</th>
    	{% if not segment.is_invariant %}<th width="20%">{% trans "translate"|capfirst %}</th>{% endif %}
      </tr></thead>
    <tbody><tr>
      	<td><nobr><span class="mR10">{{ segment.site.name }} ({{ source_language }})</span> <a href="/site/{{ segment.site.slug }}/"><i class="fa fa-th-large" aria-hidden="true"></i></a></nobr></td>
      	<td>{{ segment.id }}</td>
      	<td>{{ segment.text }}</td>
      	{% if not segment.is_invariant %}<td><ul class="list-inline">{% for l in other_languages %}<li><a class="btn btn-default btn-sm" href="/segment_translate/{{ segment.id }}/{{ l.code }}/">to {{ l }}</a>{% endfor %}</div>{% endif %}
      </tr></tbody>
  </table>

{% if translations %}
	<fieldset>
		<legend>Translations</legend>
    <table style="width: 100%">
    <tbody>
	<tr><th>target</th><th>t-type</th><th>by</th><th style="text-align: left">text</th></tr>
	{% for l in other_languages %}{% for t in translations|lookup:l.code %}{% with ur=t.user_role %}
    <tr>
    	<td><a  class="{{ l.code }}" href="/translation_align/{{ t.id }}">{{ l }}</a></td>
    	<td>{{ TRANSLATION_TYPE_DICT|lookup:t.translation_type }}</td>
    	<td>{% if ur %}{{ ROLE_DICT|lookup:ur.role_type }}-{{ ur.level }}: {{ ur.user.get_full_name }}{% endif %}</td>
    	<td>{{ t.text }}</td>
   	</tr>
	{% endwith %}{% endfor %}{% endfor %}
	</tbody>
	</table>
	</fieldset>
{% endif %}

{% if similar_segments %}
	<fieldset>
		<legend>Similar segments</legend>
    <table style="width: 100%; margin-top: 0;">
    <tbody>
	{% for score, s in similar_segments %}
    <tr {% comment %}class="{% cycle 'odd' 'even' %}"{% endcomment %}>
    	<td colspan=4>{{ score|floatformat:1 }} &nbsp; <a href="/segment/{{ s.id }}/" title="view info" class="{{ source_language.code }}">{{ s.text }}</a></td>
   	</tr>
	{% endfor %}
	</tbody>
	</table>
	</fieldset>
{% endif %}

	<fieldset>
		<legend>Navigation -
		{{ n }} segments found{% if n %}:{% endif %}
		{% if previous %}<input type="submit" name="goto-{{ previous.id }}" class="btn btn-sm" value="Previous">{% endif %}
		{% if next %}<input type="submit" name="goto-{{ next.id }}" class="btn btn-sm" value="Next">{% endif %}
		</legend>
    <table><thead>
    	<tr>{% for field in sequencer_form.visible_fields %}<th>{{ field.label_tag }}</th>{% endfor %}</tr>
   	</thead><tbody><tr>
		<td>{{ sequencer_form.project_site }}</td>
		<td>{{ sequencer_form.translation_state }}</td>
		<td>{{ sequencer_form.translation_languages }}</td>
		<td>{{ sequencer_form.order_by }}</td>
		<td style="text-align: center;">{{ sequencer_form.show_similar }}</td>
	</tr></tbody></table>    	
	</fieldset>

</form>
{% endblock %}
