{% extends "base.html" %}
{% load staticfiles i18n %}
{% load wip_tags %}

{% block extra_head %}
<style>
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: small;
    font-style: italic;
}
label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em; }
pre { display: inline;  padding: 0; }
pre code { display: inline; }
tr.odd { background: LightGray; }
tr.even { background: white; }
.it { color: LimeGreen; }
.en { color: #FF0088; }
.es { color: OrangeRed; }
.fr { color: blue; }   
th, td { text-align: left; vertical-align: top; }
</style>
<script>
function addText(from, to_id) {
	to = document.getElementById(to_id)
	if (to.value != ''){
		to.value += ' '
	}
    to.value += from.textContent || from.innerText;
}
{% comment %}
function capFirst(id) {
	el = document.getElementById(id)
	s = el.value
	el.value = s.charAt(0).toUpperCase() + s.slice(1);
}
{% endcomment %}
</script>
{% endblock %}

{% block head_title %}Translate segment: {{ segment.text }}{% endblock %}

{% block title-page %}<span style="color: black; font-size: smaller;">Translate segment: </span> <span class="{{ source_language.code }}" style="font-size: smaller;">{{ segment.text|truncatechars:64 }}</span>{% endblock %}

{% block content-page %}
<form action="/segment_translate/{{ segment.id }}/{{ target_code }}/" method="post">
	{% csrf_token %}
    <div>
    <label>id</label><a href="/segment/{{ segment.id }}/" class="{{ source_language.code }}">{{ segment.id }}</a> &nbsp;
    <label>source</label><span class="{{ source_language.code }}">{{ source_language.name }}</span> &nbsp;
    {% if segment.site %}<label>site</label>{{ segment.site.name }} &nbsp;{% endif %}
    {% if segment.is_invariant %}<label>invariant</label>True &nbsp;{% endif %}
	</div>
    <div><label>text</label>{{ segment.text }}</div>

{% if translations %}
	<fieldset>
		<legend>Translations in internal memory</legend>
    <table style="width: 100%">
    <tbody>
	<tr><th>target</th><th>t-type</th><th>by</th><th style="text-align: left">text</th></tr>
	{% for l in other_languages %}{% for t in translations|lookup:l.code %}{% with ur=t.user_role %}
    <tr>
    	<td><a  class="{{ l.code }}" href="/translation_align/{{ t.id }}">{{ l }}</a></td>
    	<td>{{ TRANSLATION_TYPE_DICT|lookup:t.translation_type }}</td>
    	<td>{% if ur %}{{ ROLE_DICT|lookup:ur.role_type }}-{{ ur.level }}: {{ ur.user.get_full_name }}{% endif %}</td>
    	<td>{{ t.text }}<a onclick="addText(this.parentNode, 'id_translation')"><span class="fa fa-copy" style="font-size: 1.0em; padding-left: 1.0em;" title="append this translation to your translation"></span></a></td>
   	</tr>
	{% endwith %}{% endfor %}{% endfor %}
	</tbody>
	</table>
	</fieldset>
{% endif %}

{% if user.is_superuser %}
    <table style="width: 100%">
    <tbody>
    <tr><td colspan=4 class="{{ target_language.code }}"><b><i>Add {{ target_language }} translation</i></b></td></tr>
    <tr><td colspan=4 style="width: 100%">{{ translation_form.translation.errors }}{{ translation_form.translation }}</td></tr>

	<tr><td colspan=2><div><b><i>External services</i></b></div>
			<div>{{ translation_service_form.translation_services }}</div>
			<div><input type="submit" name="ask_service" value="Ask service" class="btn btn-sm" /></div>
		</td></tr>
	<tr><td colspan=4><input type="submit" name="save-{{ target_language.code }}" value="Save {{ target_language.name }} translation" class="btn btn-sm" /></td></tr>
    <tr><td colspan=4 style="width: 100%"><hr></td></tr>
{% endif %}

	{% if external_translations %}
    <tr><td colspan=4 style="padding-top: 0.5em; padding-bottom: 0.5em; font-size: large; font-weight: bold;">Translations by {{ translation_service }}</td></tr>
	<tr><th>segment</th><th>entry id</th><th>quality</th><th style="text-align: left">translation</th></tr>
	{% for t in external_translations %}
    <tr class="{% cycle 'odd' 'even' %}">
    	<td class="{{ source_language.code }}">{{ t.segment }}</td>
    	<td style="text-align: left">{{ t.entry_id }}</td>
    	<td style="text-align: center">{{ t.quality }}</td>
    	<td class="{{ target_language.code }}">{{ t.translation }}<a onclick="addText(this.parentNode, 'id_translation')"><span class="fa fa-copy" style="font-size: 1.0em; padding-left: 1.0em;" title="append this translation to your translation"></span></a></td>
   	</tr>
	{% endfor %}
    {% endif %}

	{% if similar_segments %}
    <tr><td colspan=4 style="padding-top: 0.5em; padding-bottom: 0.5em; font-size: large; font-weight: bold;">{{ target_language }} translations of similar segments</td></tr>
	<tr><th></th><th style="text-align: left">translation</th></tr>
{% comment %}
	{% for score, s, lltt in similar_strings %}{% for l, tt in lltt %}{% for t in tt %}
    <tr class="{% cycle 'odd' 'even' %}">
    	<td>{% if forloop.counter == 1 %}{{ score|floatformat:1 }} &nbsp; <a href="/string/{{ s.id }}/" class="{{ source_language.code }}">{{ s.text }}</a>{% endif %}</td>
    	<td>{% for token in t.tokens %}<a onclick="addText(this, 'id_translation')" style="cursor: pointer;" title="append this word to your translation">{{ token }} </a>{% endfor %}<a onclick="addText(this.parentNode, 'id_translation')"><span class="fa fa-copy" style="font-size: 1.0em; padding-left: 1.0em;" title="append this translation to your translation"></span></a></td>
   	</tr>
	{% endfor %}{% endfor %}{% endfor %}
{% endcomment %}
	{% for score, s, translations in similar_segments %}
	{% for l in other_languages %}{% for t in translations|lookup:l.code %}
    <tr class="{% cycle 'odd' 'even' %}">
    	<td>{% if forloop.counter == 1 %}{{ score|floatformat:1 }} &nbsp; <a href="/segment/{{ s.id }}/" class="{{ source_language.code }}">{{ s.text }}</a>{% endif %}</td>
    	<td>{% for token in t.tokens %}<a onclick="addText(this, 'id_translation')" style="cursor: pointer;" title="append this word to your translation">{{ token }} </a>{% endfor %}<a onclick="addText(this.parentNode, 'id_translation')"><span class="fa fa-copy" style="font-size: 1.0em; padding-left: 1.0em;" title="append this translation to your translation"></span></a></td>
   	</tr>
	{% endfor %}{% endfor %}
	{% endfor %}
    {% endif %}

	</tbody>
	</table>

{% comment %}
	<h4 style="margin-top: 1.0em; margin-bottom: 0;"><strong>Navigation filters</strong></h4>
    <div>
		{{ n }} strings found{% if n %}:{% endif %}
		{% if previous %}<input type="submit" name="goto-{{ previous.id }}" class="btn btn-sm" value="Previous">{% endif %}
		{% if next %}<input type="submit" name="goto-{{ next.id }}" class="btn btn-sm" value="Next">{% endif %}
    </div>
    <table><thead>
    	<tr>{% for field in sequencer_form.visible_fields %}<th>{{ field.label_tag }}</th>{% endfor %}</tr>
   	</thead><tbody><tr>
		<td>{{ sequencer_form.translation_state }}</td>
		<td>{{ sequencer_form.translation_languages }}</td>
		<td>{{ sequencer_form.order_by }}</td>
		<td style="text-align: center;">{{ sequencer_form.show_similar }}</td>
	</tr></tbody></table>    	
{% endcomment %}
</form>
{% endblock %}
