{% extends "base.html" %}
{% load staticfiles i18n %}
{% load wip_tags %}

{% block extra_head %}
<style>
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.0em 1.0em 1.0em !important;
    margin: 0 0 1.0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: small;
    font-style: italic;
}
label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em; }
tr.odd { background: LightGray; }
tr.even { background: white; }
.ar { border-left: 3px solid Red; border-top: 2px solid Green; border-bottom: 2px solid Black; margin: 1px; }
.it { border: 1px solid; border-color: Green; margin: 1px; }
.en { border-left: 2px solid Red; border-top: 2px solid Blue; border-right: 2px solid Red; border-bottom: 2px solid Blue; margin: 1px; }
.es { border-left: 2px solid Yellow; border-top: 2px solid Red; border-right: 2px solid Yellow; border-bottom: 2px solid Red; margin: 1px; }
.fr { border: 1px solid; border-color: Blue; margin: 1px; }
.rtl { direction: rtl; }
th, td { text-align: left; vertical-align: top; }
</style>
<script>
/*
 * from: the TD element containing the translation text
 * to_id: the unique id of the element where to copy the translation text
 * service_id: the id of the TD element containing the service code (GOOGLE, DEEPL, ..)
 * select_id: the id of the SELECT element to be assigned the service code by default
 */
function addText(from, to_id, service_id, select_id) {
	to = document.getElementById(to_id)
	if (to.value != ''){
		to.value += ' '
	}
    to.value += from.textContent || from.innerText;
	service_type = document.getElementById(service_id).getAttribute('code');
	select_element = document.getElementById(select_id);
	select_element.value = service_type;
}
{% comment %}
function capFirst(id) {
	el = document.getElementById(id)
	s = el.value
	el.value = s.charAt(0).toUpperCase() + s.slice(1);
}
{% endcomment %}
</script>
{% endblock %}

{% block head_title %}Translate segment: {{ segment.text }}{% endblock %}

{% block title-page %}{% trans "segment to"|capfirst %} <span class="{{ target_language.code }}">{{ target_language }}</span>&nbsp; <small><i>{{ segment.text|truncatechars:64 }}</i></small>{% endblock %}

{% block content-page %}
  <table class="table table-responsive table-bordered table-striped mB5">
    <thead><tr>
    	<th width="15%">{% trans "project"|capfirst %}</th>
    	<th width="5%">{% trans "id"|capfirst %}</th>
    	<th>{% trans "text"|capfirst %}</th>
    	<th width="20%">{% trans "other targets"|capfirst %}</th>
      </tr></thead>
    <tbody><tr>
      	<td><nobr><span class="mR10">{{ segment.site.name }} ({{ source_language }})</span> <a href="/site/{{ segment.site.slug }}/"><i class="fa fa-th-large" aria-hidden="true"></i></a></nobr></td>
      	<td><nobr><a href="/segment/{{ segment.id }}/"><small>{{ segment.id }}</small></a></nobr></td>
      	<td>{{ segment.text }}</td>
      	<td><ul class="list-inline">{% for l in other_languages %}{% if not l == target_language %}<li><a class="btn btn-default btn-sm" href="/segment_translate/{{ segment.id }}/{{ l.code }}/">to {{ l }}</a>{% endif %}{% endfor %}</div>
      </tr></tbody>
  </table>

<form action="/segment_translate/{{ segment.id }}/{{ target_code }}/" method="post">
	{% csrf_token %}

	<fieldset>
		<legend>Navigation -
		{{ n }} segments found{% if n %}:{% endif %}
		{% if first %}<button type="submit" name="goto-{{ first.id }}" class="btn btn-sm btn-default" value="First"><i class="fa fa-fast-backward"></i></button>{% endif %}
		{% if previous %}<button type="submit" name="goto-{{ previous.id }}" class="btn btn-sm btn-default" value="Previous"><i class="fa fa-chevron-left"></i></button>{% endif %}
		{% if next %}<button type="submit" name="goto-{{ next.id }}" class="btn btn-sm btn-default" value="Next"><i class="fa fa-chevron-right"></i></button>{% endif %}
		{% if last %}<button type="submit" name="goto-{{ last.id }}" class="btn btn-sm btn-default" value="Last"><i class="fa fa-fast-forward"></i></button>{% endif %}
		&nbsp;<a href="/segment/{{ segment.id }}/">View segment</a>
		{% if block_id %}&nbsp;<a href="/block/{{ block_id }}/translate/{{ target_language.code }}/">Back to last block</a>{% endif %}
		</legend>

    <table><thead>
    	<tr>{% for field in sequencer_form.visible_fields %}<th>{{ field.label_tag }}</th>{% endfor %}</tr>
   	</thead><tbody><tr>
		<td>{{ sequencer_form.project_site }}</td>
		<td>&nbsp;{{ sequencer_form.in_use }}</td>
		<td>{{ sequencer_form.translation_state }}</td>
		<td>{{ sequencer_form.translation_languages }}</td>
		<td>{{ sequencer_form.translation_sources }}</td>
		<td>{{ sequencer_form.order_by }}</td>
		<td style="text-align: center;">{{ sequencer_form.show_similar }}</td>
	</tr></tbody></table>    	
	</fieldset>
</form>

{% if user.is_superuser %}
<form action="/segment_translate/{{ segment.id }}/{{ target_code }}/" method="post">{% csrf_token %}
{% endif %}

{% if translations %}
	<fieldset>
		<legend>Translations in internal memory</legend>
    <table style="width: 100%">
    <tbody>
	<tr><th>select</th><th>target</th><th>type</th><th>source</th><th>by</th><th style="text-align: left">text</th></tr>
	{% for l in other_languages %}{% for t in translations|lookup:l.code %}{% with ur=t.user_role %}
    <tr>
        <td width="5%" style="text-align: center;">
        	{% ifequal l.code target_language.code %}
	        	{% if not t.user_role %}
	        		<input type="checkbox" name="selection" value="{{ t.id }}" />
	        	{% endif %}
	        	{% ifequal t.user_role user_role %}
	        		<input type="checkbox" name="selection" value="{{ t.id }}" />
	        	{% endifequal %}
        	{% endifequal %}
       	</td>
    	<td><a  class="{{ l.code }}" href="/translation_align/{{ t.id }}">{{ l }}</a></td>
    	<td style="color: {{ t.get_type_color }}">{{ t.get_type }}</td>
    	<td>{{ t.get_source|safe }}</td>
    	<td>{% if ur %}{{ ROLE_DICT|lookup:ur.role_type }}-{{ ur.level }}: {{ ur.user.get_full_name }}{% endif %}</td>
    	<td{% if t.is_rtl %} style="text-align: right;"{% endif %}><span{% if t.is_rtl %} class="rtl"{% endif %}>{{ t.text }}</span><a onclick="addText(this.parentNode, 'id_translation')"><span class="fa fa-copy" style="font-size: 1.0em; padding-left: 1.0em;" title="append this text to your translation"></span></a></td>
   	</tr>
	{% endwith %}{% endfor %}{% endfor %}
	</tbody>
	</table>
	</fieldset>
{% endif %}

{% if user.is_superuser %}
	<fieldset>
		<legend><i>Add/replace/delete <span class="{{ target_language.code }}">{{ target_language }}</span> translation</i></legend>

		<div>{{ translation_form.translation.errors }}{{ translation_form.translation_source }} {% trans "translation source"|capfirst %}</div>
		<div{% if target_language.is_rtl %} class="rtl"{% endif %}>{{ translation_form.translation }}</div>
		<div><input type="submit" name="save-{{ target_language.code }}" value="Save {{ target_language.name }} translation" class="btn btn-sm btn-default" />
			 {% if block_id %}<input type="submit" name="save_return-{{ target_language.code }}" value="Save translation and return to block" class="btn btn-sm btn-default" />{% endif %}
			 {% if translations %}<input type="submit" name="delete" value="Delete selected translations" class="btn btn-sm btn-default" />{% endif %}
		</div>
	</fieldset>
</form>

<form action="/segment_translate/{{ segment.id }}/{{ target_code }}/" method="post">{% csrf_token %}

	<fieldset>
		<legend><i>{% trans "external services"|capfirst %}</i></legend>
	<table>
		<tbody style="text-align: center">
		<tr>
			<td style="text-align: center;">{{ translation_service_form.translation_services }}</td>
			{% if translation_state == -2 or translation_state == -3 %}
			<td style="text-align: center;"><strong>{% trans "max. segments"|capfirst %}</strong><br>{{ translation_service_form.max_segments }}</td>
			{% endif %}
		</tr>
		<tr>
			<td style="text-align: center;"><input type="submit" name="ask_service" value="{% trans "ask service"|capfirst %}" class="btn btn-sm btn-default" title="{% trans "machine translation or translation memory" %}" /></td>
			{% if translation_state == -2 or translation_state == -3 %}
			<td style="text-align: center;"><input type="submit" name="batch_translate" value="{% trans "batch translate"|capfirst %}" title="{% trans "use same filters as navigation" %}" class="btn btn-sm btn-default" /></td>
			{% endif %}
		</tr>
		</tbody>
	</table>
	</fieldset>

	{% if external_translations %}
	<fieldset>
		<legend><i>{% trans "translations by web services"|capfirst %}</i></legend>
    <table style="width: 100%">
    <tbody>
	<tr><th>{% trans "service"|capfirst %}</th>
		<th>{% trans "segment"|capfirst %}</th>
		{% comment %}<th>entry id</th><th>quality</th>{% endcomment %}
		<th style="text-align: left">{% trans "translation"|capfirst %}</th>
	</tr>
	{% for t in external_translations %}
    <tr class="{% cycle 'odd' 'even' %}">
    	<td id="service-{{ forloop.counter }}" code="{{ t.service_type }}">{{ TRANSLATION_SERVICE_DICT|lookup:t.service_type }}</td>
    	<td class="{{ source_language.code }}">{{ t.segment }}</td>
		{% comment %}
    	<td style="text-align: left">{{ t.entry_id }}</td>
    	<td style="text-align: center">{{ t.quality }}</td>
		{% endcomment %}
    	<td class="{{ target_language.code }}">{{ t.translation }}<a onclick="addText(this.parentNode, 'id_translation', 'service-{{ forloop.counter }}', 'id_translation_source')"><span class="fa fa-copy" style="font-size: 1.0em; padding-left: 1.0em;" title="{% trans "append this translation to your translation" %}"></span></a></td>
   	</tr>
	{% endfor %}
	</tbody>
	</table>
	</fieldset>
    {% endif %}
</form>

	{% if similar_segments %}
	<fieldset>
		<legend><i>{{ target_language }} translations of similar segments</i></legend>
    <table style="width: 100%">
    <tbody>
{% comment %}
    <tr><td colspan=4 style="padding-top: 0.5em; padding-bottom: 0.5em; font-size: large; font-weight: bold;">{{ target_language }} translations of similar segments</td></tr>
{% endcomment %}
	<tr><th></th><th style="text-align: left">translation</th></tr>
{% comment %}
	{% for score, s, lltt in similar_strings %}{% for l, tt in lltt %}{% for t in tt %}
    <tr class="{% cycle 'odd' 'even' %}">
    	<td>{% if forloop.counter == 1 %}{{ score|floatformat:1 }} &nbsp; <a href="/string/{{ s.id }}/" class="{{ source_language.code }}">{{ s.text }}</a>{% endif %}</td>
    	<td>{% for token in t.tokens %}<a onclick="addText(this, 'id_translation')" style="cursor: pointer;" title="append this word to your translation">{{ token }} </a>{% endfor %}<a onclick="addText(this.parentNode, 'id_translation')"><span class="fa fa-copy" style="font-size: 1.0em; padding-left: 1.0em;" title="append this translation to your translation"></span></a></td>
   	</tr>
	{% endfor %}{% endfor %}{% endfor %}
{% endcomment %}
	{% for score, s, translations in similar_segments %}
	{% for l in other_languages %}{% for t in translations|lookup:l.code %}
    <tr class="{% cycle 'odd' 'even' %}">
    	<td>{% if forloop.counter == 1 %}{{ score|floatformat:1 }} &nbsp; <a href="/segment/{{ s.id }}/" class="{{ source_language.code }}">{{ s.text }}</a>{% endif %}</td>
    	<td>{% for token in t.tokens %}<a onclick="addText(this, 'id_translation')" style="cursor: pointer;" title="append this word to your translation">{{ token }} </a>{% endfor %}<a onclick="addText(this.parentNode, 'id_translation')"><span class="fa fa-copy" style="font-size: 1.0em; padding-left: 1.0em;" title="append this translation to your translation"></span></a></td>
   	</tr>
	{% endfor %}{% endfor %}
	{% endfor %}
    {% endif %}

	</tbody>
	</table>
	</fieldset>
{% endif %}

{% endblock %}
