{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<style>
    label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em;}
    pre { display: inline; padding: 0; }
    pre code { line-height: 0.5; }
    .l { text-align: left; }
    .r { text-align: right; }
    table { border-spacing: 10px 0; border-collapse: separate;
</style>
{% endblock %}

{% block head_title %}WIP - Site: {{ site.name }}{% endblock %}

{% block title-page %}WIP - Site: {{ site.name }}{% endblock %}

{% block content-page %}
    <div><label>URL</label> {{ site.url }}</div>
    <div><label>Path prefix</label> {{ site.path_prefix }}</div>
    <div><label>Allowed domains</label> {{ site.allowed_domains }}</div>
    <div><label>Start urls</label> {{ site.start_urls }}</div>
    {% if site.deny %}<div><label>Deny</label> {{ site.deny }}</div>{% endif %}
    <div><label>Pages</label> {% if page_count %} <a href="/site/{{ site.slug }}/pages/" title="list pages">{{ page_count }}</a> {% else %}0{% endif %}</div>
    <div><label>Page blocks</label> {% if block_count %} <a href="/site/{{ site.slug }}/blocks/" title="list blocks">{{ block_count }}</a> {% else %}0{% endif %}</div>
	{% if proxies %}
	<div><label>Proxies</label>
	    {% for proxy in proxies %}
	    <a href="{% url 'proxy' proxy.slug %}">{{ proxy.name }}</a>{% if not forloop.last %}, &nbsp;{% endif %}
	    {% endfor %}
	</div>
	{% else %}
		<div style="margin-top: 0.5em">No proxies are available.</div>
	{% endif %}
	{% if user.is_superuser %}
{% comment %}
		{% if page_count %}
    		<div><a class="btn btn-default" href="/site/{{ site.slug }}/crawl/">Re-crawl</a></div>
		{% else %}
			<div><a class="btn btn-default" href="/site/{{ site.slug }}/crawl/">Crawl</a></div>
		{% endif %}
{% endcomment %}
   	<form action="/site/{{ site.slug }}/" method="post">{% csrf_token %}
	{% if missing_languages %}
	<div>{% for l in missing_languages %}<input type="submit" name="addproxy-{{ l.code }}" value="Add {{ l.name }} proxy" class="btn btn-sm" />{% endfor %}</div>
	{% endif %}
	<div>{{ manage_form.clear_pages }} Clear all saved pages
		<input type="submit" name="site_crawl" value="{% if page_count %}Re-crawl{% else %}Crawl{% endif %}" title="scan pages" class="btn btn-sm" />
	<div>{{ manage_form.clear_blocks }} Clear all saved blocks
		<input type="submit" name="extract_blocks" value="Extract blocks" title="Extract" class="btn btn-sm" /></div>
	{% if not page_count and not block_count and not proxies %}
  	<div>{{ manage_form.delete_confirmation }} Yes, I am fully aware
		<input type="submit" name="delete_site" value="Delete site" title="Delete all site info" class="btn btn-sm" /></div>
	{% endif %}
	</form>
	{% endif %}

<h4>Translation state of site pages</h4>
<table border="0"><thead>
	<th class="l">Proxy</th>
	<th class="r">TOTAL</th>
	<th class="r">invariant</th>
	<th class="r">partially<br/>translated</th>
	<th class="r">translated</th>
	<th class="r">revised</th>
	<th class="r">to be translated</th>
</thead><tbody>
{% for language, dict in pages_proxy_list %}<tr>
   <th><a href="/page/{{ page.id }}/proxy/{{ language.code }}/">{{ language.name }}</a></th>
   <td class="r">{{ pages_total }}</td>
   <td class="r">{{ pages_invariant }}</td>
   <td class="r">{{ dict.partially }}</td>
   <td class="r">{{ dict.translated }}</td>
   <td class="r">{{ dict.revised }}</td>
   <td class="r">{{ dict.left }}</td>
</tr>{% endfor %}
</tbody>
</table>

<h4>Translation state of site blocks</h4>
<table border="0"><thead>
	<th class="l">Proxy</th>
	<th class="r">TOTAL</th>
	<th class="r">invariant</th>
	<th class="r">in target<br/>language</th>
	<th class="r">partially<br/>translated</th>
	<th class="r">translated</th>
	<th class="r">revised</th>
	<th class="r">to be translated</th>
</thead><tbody>
{% for language, dict in blocks_proxy_list %}<tr>
   <th><a href="/page/{{ page.id }}/proxy/{{ language.code }}/">{{ language.name }}</a></th>
   <td class="r">{{ blocks_total }}</td>
   <td class="r">{{ blocks_invariant }}</td>
   <td class="r">{{ dict.already }}</td>
   <td class="r">{{ dict.partially }}</td>
   <td class="r">{{ dict.translated }}</td>
   <td class="r">{{ dict.revised }}</td>
   <td class="r">{{ dict.left }}</td>
</tr>{% endfor %}
</tbody>
</table>

{% endblock %}
