{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<style>
    label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em;}
    pre { display: inline; padding: 0; }
    pre code { line-height: 0.5; }
</style>
{% endblock %}

{% block head_title %}WIP - Site: {{ site.name }}{% endblock %}

{% block title-page %}WIP - Site: {{ site.name }}{% endblock %}

{% block content-page %}
    <div><label>URL</label> {{ site.url }}</div>
    <div><label>Path prefix</label> {{ site.path_prefix }}</div>
    <div><label>Allowed domains</label> {{ site.allowed_domains }}</div>
    <div><label>Start urls</label> {{ site.start_urls }}</div>
    {% if site.deny %}<div><label>Deny</label> {{ site.deny }}</div>{% endif %}
    <div><label>Pages</label> {% if page_count %} <a href="/site/{{ site.slug }}/pages/" title="list pages">{{ page_count }}</a> {% else %}0{% endif %}</div>
    <div><label>Page blocks</label> {% if block_count %} <a href="/site/{{ site.slug }}/blocks/" title="list blocks">{{ block_count }}</a> {% else %}0{% endif %}</div>
	{% if proxies %}
	<div><h2>Proxies</h2>:
	    {% for proxy in proxies %}
	    <div>
	        <h4><a href="{% url 'proxy' proxy.slug %}">
	        {{ proxy.name }}
	        </a></h4>
	    </div>
	    {% endfor %}
	</div>
	{% else %}
		<p style="margin-top: 0.5em">No proxies are available.</p>
	{% endif %}
	{% if user.is_authenticated %}
		{% if page_count %}
    		<div><a class="btn btn-default" href="/site/{{ site.slug }}/crawl/">Re-crawl</a></div>
		{% else %}
			<div><a class="btn btn-default" href="/site/{{ site.slug }}/crawl/">Crawl</a></div>
		{% endif %}
	{% endif %}
{% endblock %}
