{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}Projects{% endblock %}

{% block title-page %}Projects{% endblock %}

{% block content-page %}

	{% if sites %}
	<div>
	    {% for site in sites %}
	    <div>
	        <b><a href="{% url 'site' site.slug %}" title="site properties">{{ site.name }}</a></b>: &nbsp;
	        <a href="{{ site.url }}" title="goto site">{{ site.url }}</a>
	    </div>
	    {% endfor %}
	</div>
	{% else %}
		<p>No projects are available.</p>
	{% endif %}

{% endblock %}
