{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block head_title %}WIP - Strings{% endblock %}

{% block title-page %}WIP - Strings{% endblock %}

{% block content-page %}

	<h4>List and translate Italian strings</h4>

	<table style="margin-top: 1em; font-size: larger; width: 50%">
	<thead>
		<tr><th style="text-align: left"> untranslated </th><th style="text-align: left"> translated </th></tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/strings/it/untranslated/en/">translate to English</a></td> <td><a href="/strings/it/translated/en/">list English translations</a></td>
		</tr>
		<tr>
			<td><a href="/strings/it/untranslated/fr/">translate to French</a></td> <td><a href="/strings/it/translated/fr/">list French translations</a></td>
		</tr>
		<tr>
			<td><a href="/strings/it/untranslated/es/">translate to Spanish</a></td> <td><a href="/strings/it/translated/es/">list Spanish translations</a></td>
		</tr>
		<tr>
			<td></td> <td><a href="/strings/it/translated/en-es-fr/">list all translations</a></td>
		</tr>
	</tbody>
	</table>

{% endblock %}
