{% extends "wip_base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<style>
label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em; }
pre { display: inline;  padding: 0; }
pre code { display: inline; }
tr.odd { background: LightGray; }
tr.even { background: white; }
.it { color: LimeGreen; }
.en { color: #FF0088; }
.es { color: OrangeRed; }
.fr { color: blue; }   
th, td { text-align: left; vertical-align: top; }
</style>
{% endblock %}

{% block head_title %}String: {{ string.text }}{% endblock %}

{% block title-page %}<span style="color: black; font-size: smaller;">String: </span> <span class="{{ source_language.code }}" style="font-size: smaller;">{{ string.text|truncatechars:80 }}</span>{% endblock %}

{% block content-page %}
<form action="/string/{{ string.id }}/" method="post">
	{% csrf_token %}
    <div><label>String id</label> {{ string.id }}</div>
    <div><label>String language</label> <span class="{{ source_language.code }}">{{ source_language.name }}</span>
    <div><label>String text</label> <span  class="{{ source_language.code }}">{{ string.text }}</span></div>
   	<div>{% for l in other_languages %}
   	<a class="btn btn-sm" href="/string_translate/{{ string.id }}/{{ l.code }}/">Translate to <span class="{{ l.code }}">{{ l }}</span></a>&nbsp;&nbsp;
   	{% endfor %}</div>

    <div style="margin-top: 1.0em;">
		<input type="submit" name="apply_filter" class="btn btn-sm" value="Apply filter below"> &nbsp;&nbsp;
		{% if previous %}<input type="submit" name="goto-{{ previous.id }}" class="btn btn-sm" value="Previous">{% endif %}
		{% if next %}<input type="submit" name="goto-{{ next.id }}" class="btn btn-sm" value="Next">{% endif %}
    </div>
    <table><thead>
    	<tr>{% for field in sequencer_form.visible_fields %}<th>{{ field.label_tag }}</th>{% endfor %}</tr>
   	</thead><tbody><tr>
		<td>{{ sequencer_form.translation_state }}</td>
		<td>{{ sequencer_form.translation_languages }}</td>
	</tr></tbody></table>    	

    <table style="width: 100%">
    <tbody>
   {% with translations=string.get_translations %}{% if translations %}
    <tr><td colspan=4 style="padding-top: 0.5em; padding-bottom: 0.5em; font-size: large; font-weight: bold;">Available translations</td></tr>
	<tr><th>language</th><th>source</th><th>reliab.</th><th style="text-align: left">translation</th></tr>
	{% for l, tt in string.get_translations %}
	{% for t in tt %}
    <tr class="{% cycle 'odd' 'even' %}">
    	<td class="{{ l.code }}">{{ l.name }}</td>
    	<td style="text-align: center">{{ t.txu.provider }}</td>
    	<td style="text-align: center">{{ t.reliability }}</td>
    	<td><a href="/string/{{ t.id }}/" class="{{ l.code }}">{{ t.text }}</a></td>
   	</tr>
	{% endfor %}
	{% endfor %}
    {% endif %}
   	{% endwith %}

    {% if similar_strings %}
    <tr><td colspan=4 style="padding-top: 0.5em; padding-bottom: 0.5em; font-size: large; font-weight: bold;">Similar strings</td></tr>
	{% for score, s in similar_strings %}
    <tr class="{% cycle 'odd' 'even' %}">
    	<td colspan=4>{{ score|floatformat:1 }} &nbsp; <a href="/string/{{ s.id }}/" title="view info" class="{{ source_language.code }}">{{ s.text }}</a></td>
   	</tr>
	{% endfor %}
    {% endif %}
	</tbody>
	</table>
</form>
{% endblock %}
