{% extends "base.html" %}
{% load staticfiles i18n %}
{% load wip_tags %}

{% block extra_head %}
<style>
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: small;
    font-style: italic;
}
label { display: inline; font-weight: bold; margin-right: 1.0em; padding: 0.2em 0em; }
tr.odd { background: LightGray; }
tr.even { background: white; }
.ar { border-left: 3px solid Red; border-top: 2px solid Green; border-bottom: 2px solid Black; margin: 1px; }
.it { border: 1px solid; border-color: Green; margin: 1px; }
.en { border-left: 2px solid Red; border-top: 2px solid Blue; border-right: 2px solid Red; border-bottom: 2px solid Blue; margin: 1px; }
.es { border-left: 2px solid Yellow; border-top: 2px solid Red; border-right: 2px solid Yellow; border-bottom: 2px solid Red; margin: 1px; }
.fr { border: 1px solid; border-color: Blue; margin: 1px; }
th, td { text-align: left; vertical-align: top; }
</style>
{% endblock %}

{% block head_title %}Segment: {{ segment.text }}{% endblock %}

{% block title-page %}
<span style="color: black; font-size: smaller;">Align translation: </span>
<span class="{{ target_language.code }}" style="font-size: smaller;">{{ translation.text|truncatechars:64 }}</span>
{% endblock %}

{% block content-page %}
	<fieldset>
	<legend>Segment - 
    <label>id</label><a href="/segment/{{ segment.id }}/">{{ segment.id }}</a> &nbsp;
    <span class="{{ source_language.code }}">{{ source_language.name }}</span> &nbsp;
    {% if segment.site %}<label>site</label>{{ segment.site.name }} &nbsp;{% endif %}
	</legend>
    <div>{{ segment.text }}</div>
	</fieldset>

	<fieldset>
	<legend>Translation - 
	<label>id</label><a href="/segment_translate/{{ segment.id }}/{{ target_language.code }}/">{{ translation.id }}</a> &nbsp;
    <span class="{{ target_language.code }}">{{ target_language.name }}</span> &nbsp;
	{% if translation.user_role %} <label>by</label>{{ translation.user_role }}{% endif %}
	</legend>
    <div>{{ translation.text }}</div>
	</fieldset>

<form action="/translation_align/{{ translation.id }}/" id="sequencer_form" method="post">
	{% csrf_token %}
	<fieldset>
		<legend>Navigation -
		{% comment %}<input type="submit" name="apply_filter" class="btn btn-sm" value="Apply filter below"> &nbsp;&nbsp;{% endcomment %}
		{{ n }} translations found{% if n %}:{% endif %}
		{% if first %}<button type="submit" name="goto-{{ first.id }}" class="btn btn-sm btn-default" value="First"><i class="fa fa-fast-backward"></i></button>{% endif %}
		{% if previous %}<button type="submit" name="goto-{{ previous.id }}" class="btn btn-sm btn-default" value="Previous"><i class="fa fa-chevron-left"></i></button>{% endif %}
		{% if next %}<button type="submit" name="goto-{{ next.id }}" class="btn btn-sm btn-default" value="Next"><i class="fa fa-chevron-right"></i></button>{% endif %}
		{% if last %}<button type="submit" name="goto-{{ last.id }}" class="btn btn-sm btn-default" value="Last"><i class="fa fa-fast-forward"></i></button>{% endif %}
		&nbsp;<a href="/segment/{{ segment.id }}/">View segment</a>
		&nbsp;<a href="/segment_translate/{{ segment.id }}/{{ target_language.code }}/">Translate segment</a>
		{% if block_id %}&nbsp;<a href="/block/{{ block_id }}/translate/{{ target_language.code }}/">Back to last block</a>{% endif %}
    	</legend>

    <table><thead>
    	<tr>{% for field in sequencer_form.visible_fields %}<th>{{ field.label_tag }}</th>{% endfor %}</tr>
   	</thead><tbody><tr>
		<td>{{ sequencer_form.order_by }}</td>
		<td style="text-align: center;">{{ sequencer_form.alignment_type }}</td>
	</tr></tbody></table>    	
	</fieldset>
</form>

<form action="/translation_align/{{ translation.id }}/"  id="alignment_form" method="post">
	{% csrf_token %}

	<fieldset>
	<legend>Word alignment - 
	{% if alignment_type %}<label>type</label>{{ alignment_type }}{% endif %}
	</legend>
	<div>{{ alignment }}</div>

	<div id="dag" style="margin-top: 0.5em; margin-bottom: 0.5em;"></div>

	{{ translation_align_form.alignment }}
	
	<div><input type="submit" name="save_draft_alignment" class="btn btn-default btn-sm" onclick="document.getElementById('id_alignment').value='-'; this.form.submit();" value="Clear links">
  &nbsp; <input type="submit" name="save_draft_alignment" class="btn btn-default btn-sm" onclick="document.getElementById('id_alignment').value=get_alignment(); this.form.submit();" value="Save draft alignment">
  &nbsp; <input type="submit" name="save_confirmed_alignment" class="btn btn-default btn-sm" onclick="document.getElementById('id_alignment').value=get_alignment(); this.form.submit();" value="Save confirmed alignment">
{% if block_id %}
  &nbsp; <input type="submit" name="save_confirmed_and_return" class="btn btn-default btn-sm" onclick="document.getElementById('id_alignment').value=get_alignment(); this.form.submit();" value="Confirm alignment and return">
{% endif %}</div>
 
    <div><label>Compute alignment</label> {{ translation_align_form.compute_alignment }}</div>
	</fieldset>
</form>

{% endblock %}

{% block extra_script %}
{% include "_align_joint.html" %}
{% endblock %}

