{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{% trans "recent scans by"|capfirst %} {{ user.username }}{% endblock %}

{% block extra_head %}
<style>
table { border-spacing: 10px 0; border-collapse: separate; }
th, td { text-align: left; vertical-align: top; }
</style>
{% endblock %}

{% block title-page %}{% trans "recent scans by"|capfirst %} {{ user.username }}{% endblock %}

{% block content-page %}

<table>
<thead><th>id</th><th>task id</th><th>spider name</th><th>start</th><th>stop</th><th># pages</th></thead>
<tbody>
{% for scan in scans %}
	<tr>
		<td>{{ scan.pk }}</td>
		<td>{{ scan.task_id }}</td>
		<td><a href="/scan/{{ scan.pk }}" title="show details">{{ scan.get_label }}</a></td>
		<td>{{ scan.created }}</td>
		<td>{{ scan.terminated }}</td>
		<td>{{ scan.get_links.count }}</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
